{% extends "guidance.njk" %}

{% set pageTitle       = "Find user research participants across Defence" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "_user-research-breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Participants are the people who take part in user research. They should be people who are using or will use the service.</p>

  <h2 id="start-with-stakeholders-and-subject-matter-experts">Start with stakeholders and subject matter experts</h2>

  <p>Your stakeholders will understand how Defence works. Working with them to find participants can be more efficient than trying to find them yourself.</p>

  <p>They can help you:</p>

  <ul>
    <li>find participants across Defence</li>
    <li>follow the correct process</li>
    <li>navigate the various MOD organisations</li>
  </ul>

  <h3>Follow the chain of command</h3>

  <p> Some people need approval from their commanding officer to take part in research. Reaching out directly to some participants may break the chain of command.</p>

  <p>Your stakeholders can help you follow the chain of command and avoid problems.</p>

  <h3>Tools to use with stakeholders</h3>

  {{ govukInsetText({
    text: "Do not use social media platforms like Twitter, Instagram, LinkedIn or TikTok to recruit participants for user research."
  }) }}

  <h4>MODnet</h4>

  <p> If you have access to MODnet, you can often find staff names and details on your Command Sharepoint. If you do not have access to this or other platforms, ask a permanent staff member to help you.</p>

  <h4>Staff directories</h4>

  <p> Use staff directories to find colleagues in the Ministry of Defence (MOD).</p>

  <h2 id="use-mod-networks">Use MOD networks</h2>

  <p>You can contact networks directly. You do not need stakeholder involvement or to follow a chain of command to do so.</p>

  <h3>Defence Disability Network</h3>

  <p>You must include people with different disabilities in your research. This helps your service meet the needs of all of its users.</p>

  <p>You need to include participants who:</p>

  <ul>
    <li>are disabled or use assistive technologies</li>
    <li>may need help to use your service</li>
  </ul>

  <p>The Defence Disability Network (DDN) can help you recruit participants with condition-specific disabilities.</p>

  <p><a href="https://www.gov.uk" rel="external nofollow">Go to Defence Disability Network</a></p>

  <h3>Defence Connect</h3>

  <p>Defence Connect is a secure network for “disconnected users”, including:</p>

  <ul>
    <li>reservists</li>
    <li>soldiers and officers without MODNET access</li>
    <li>people working off base</li>
  </ul>

  <p>You can use Defence Connect to:</p>

  <ul>
    <li>recruit participants for one-to-one research</li>
    <li>send out randomised surveys and questionnaires</li>
  </ul>

  <p><a href="https://www.army.mod.uk/digital-communications/defence-connect-guidance" rel="external nofollow">Go to Defence Connect</a></p>

  <h3>Army Knowledge Exchange</h3>

  <p>Army Knowledge Exchange (AKX) is an Army resource for sharing knowledge, lessons and good practice for doctrine, force development and training.</p>

  <p>You can use it to recruit research participants from the British Army.</p>

  <p><a href="https://www.army.mod.uk/deployments/army-knowledge-exchange" rel="external nofollow">Go to Army Knowledge Exchange</a></p>

  <h3>Army Knowledge Exchange</h3>

  <p>MOD staff use aliases on Trusted Voices to discuss sensitive topics like pay, mental health and bullying.</p>

  <p>You can use Trusted Voices to:</p>

  <ul>
    <li>start a discussion</li>
    <li>create a questionnaire</li>
  </ul>

  <p><a href="https://www.army.mod.uk" rel="external nofollow">Go to Trusted Voices</a></p>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#start-with-stakeholders-and-subject-matter-experts",
        text: "Start with stakeholders and subject matter experts"
      },
      {
        href: "#use-mod-networks",
        text: "Use MOD networks"
      }
    ]
  }) }}

{% endblock %}