{% set pageTitle       = "Find user research participants across Defence" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "user-research/find-user-research-participants-across-defence/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#start-with-stakeholders-and-subject-matter-experts",
        text: "Start with stakeholders and subject matter experts"
      },
      {
        href: "#use-mod-networks",
        text: "Use MOD networks"
      }
    ]
  }) }}

{% endblock %}