<div class="modukuk-contact">
  <p class="govuk-body govuk-!-static-margin-bottom-0">If you have ideas to improve this topic, <a class="govuk-link govuk-link--no-visited-state" href="/get-in-touch">get in touch</a>.</p>
</div>