{% extends "includes/layout.njk" %}

{% block body %}

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="moduk-prose">
          
          {% block bodyContent %}{% endblock %}

        </div>

      </div>

    </div>

  </div>

</div>

{% endblock %}