{%- from "govuk/components/header/macro.njk" import govukHeader -%}
{%- from "govuk/components/footer/macro.njk" import govukFooter -%}
{%- from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{%- from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/warning-text/macro.njk" import govukWarningText -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}
{%- from "contents-list/macro.njk" import govukContentsList -%}
{%- from "do-dont-list/macro.njk" import modukList -%}
{%- from "steps/macro.njk" import modukSteps -%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if pageTitle %}{{ pageTitle }} - {{ serviceName }}{% else %}{{ serviceName }}{% endif %}</title>

    {# Search Engine #}
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}Helping you meet service standards and do your role in Defence{% endif %}">

    {# Theme colour #}
    <meta name="theme-color" content="#4D2942">

    {# Windows tiles #}
    <meta name="msapplication-TileColor" content="#4D2942">
    <meta name="msapplication-TileImage" content="{{ baseURL }}assets/images/tile-310x150.png">
    <meta name="msapplication-square70x70logo" content="{{ baseURL }}assets/images/tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="{{ baseURL }}assets/images/tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="{{ baseURL }}assets/images/tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="{{ baseURL }}assets/images/tile-310x310.png">

    {# iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Defence Service Manual">

    {# Apple touch icon #}
    <link rel="apple-touch-icon" href="{{ baseURL }}assets/images/apple-touch-icon.png">

    {# Mask icon #}
    <link rel="mask-icon" href="{{ baseURL }}assets/images/mask-icon.svg" color="#000000">

    {# Fav icon #}
    <link rel="icon" href="{{ baseURL }}assets/images/favicon.png">

    {# Opengraph #}
    <meta property="og:image" content="{{ baseURL }}assets/images/opengraph.png">

    {# Stylesheet #}
    <link rel="stylesheet" href="{{ baseURL }}assets/styles/main.css">

  </head>

  <body>

    {# Progressive enhancement #}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include "includes/_moduk-header.njk" ignore missing %}

    {% if phaseBanner != false %}
      {% include "includes/_phase-banner.njk" ignore missing %}
    {% endif %}

    {# Breadcrumb #}
    {% if breadcrumb != false %}
      {% block breadcrumb %}{% endblock %}
    {% endif %}

    {# Outer body #}
    {% block outerBody %}{% endblock %}

    {% if pageLayout != "Homepage" %}
      <main class="content" id="content">
        {% block body %}{% endblock %}
      </main>
    {% endif %}

    {% if feedback != false %}
      {% include "includes/_feedback.njk" ignore missing %}
    {% endif %}

    {% include "includes/_footer.njk" ignore missing %}

    <script src="{{ baseURL }}assets/scripts/scripts.js"></script>

    {% block pageScripts %}{% endblock %}

  </body>
</html>