<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Defence Service Manual",
        href: "/"
      },
      {
        text: "Your community",
        href: "/your-community"
      }
    ]
  }) }}
</div>