{% set pageTitle = "Your community" %}
{% set pageDescription = "" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

<div class="mod-prose">

  <p>We’re working on this content.</p>

</div>

{% endblock %}