<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Defence Service Manual",
        href: "/"
      },
      {
        text: "Add or update content",
        href: "/add-or-update-content"
      }
    ]
  }) }}
</div>