{% extends "landing.njk" %}

{% set pageTitle       = "Add or update content" %}
{% set pageDescription = "Anyone in Defence can suggest content for the Defence Service Manual. You can send content that you have or we can help you write it." %}
{% set pageLead        = "The Defence Service Manual is created with contributions from people across Defence. Check what we publish and how you can make suggestions or updates." %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/add-or-update-content/placeholder-heading">Placeholder heading</a></h2>
  <p>Content TBC.</p>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="related-content">Related content</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="related-content">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk" rel="external nofollow">Writing well for the web</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock %}