{% extends "guidance.njk" %}

{% set pageTitle       = "Add or update content" %}
{% set pageDescription = "" %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <h2 id="what-we-publish">What we publish</h2>

  <p>Anyone working on digital services and products for Defence can use the Defence Service Manual. The manual helps teams deliver great digital services and products.</p>

  <p>In the manual, we include things like:</p>

  <ul>
    <li>how to meet service standards in Defence</li>
    <li>how to do your role in Defence</li>
    <li>shared approaches to doing common tasks</li>
    <li>what tools you are allowed to use</li>
  </ul>

  <h3>What we do not publish</h3>

  <p>We do not include large pieces of content published elsewhere, for example:</p>

  <ul>
    <li>existing sections on GOV.UK, including the <a href="https://www.gov.uk/service-manual" rel="external nofollow">GOV.UK service manual</a></li>
    <li>Ministry of Defence strategy, policy and rules</li>
    <li>security guidelines from the National Cyber Security Centre</li>
  </ul>

  <p>When it is useful, we introduce content published in other places and provide a link.</p>

  <h2 id="suggest-content">Suggest content</h2>

  <p>When you suggest content for the manual, make sure you tell us:</p>

  <ul>
    <li>who the content is most useful for</li>
    <li>what tasks they are trying to complete</li>
    <li>the security classification</li>
  </ul>

  {{ govukInsetText({
    html: 'Currently, we only publish content that is classified OFFICIAL.Check <a href="#0">how to classify information</a>.'
  }) }}

  <p>You can suggest content at any time, <a href="{{ baseURL }}get-in-touch">get in touch</a>.</p>

  <p>We will let you know if the content fits in the manual or suggest another place to publish it. If your content fits in the manual, we will review it and share our edits for your approval.</p>

  <h2 id="get-content-updated">Get content updated</h2>

  <p>The manual needs to include the latest guidance. If you spot something that needs updating or removing, you need to send us:</p>

  <ul>
    <li>a link to the relevant pages</li>
    <li>details of the change</li>
    <li>why the change is needed</li>
  </ul>

  <p>You can copy the existing content into a Word or Google document and make the updates. Or, you can let us know about the change and we can write the new content with you.</p>

  <p>You can ask for updates at any time, <a href="{{ baseURL }}get-in-touch">get in touch</a>.</p>

  <h2 id="writing-for-the-manual">Writing for the manual</h2>

  <p>We can add and update content quicker if it is in the GOV.UK style and MOD tone of voice. If you prefer to send us a rough draft, we can edit it. We’ll share our edits with you before publishing.</p>

  <h3>Ministry of Defence tone of voice</h3>

  <p>In the MOD brand guidelines, our tone of voice is defined as:<p>

  <ul>
    <li>clear and straightforward</li>
    <li>confident and action-orientated</li>
    <li>friendly but respectful</li>
    <li>modern but not informal</li>
    <li>authoritative and expert</li>
    <li>human and authentic</li>
  </ul>

  <h3>Make every word count</h3>

  <p>Here are some tips to keep your content short and engaging:</p>

  <ul>
    <li>use straightforward language that can be easily understood</li>
    <li>avoid jargon, acronyms, abbreviations and unnecessary technical language</li>
    <li>if acronyms must be used, spell these out in full on first use</li>
    <li>keep sentences short – text should be punchy and succinct</li>
    <li>use active, not passive language, for example use ‘we communicate to staff’ instead of ‘staff are communicated to’</li>
    <li>speak to your audience but do not try to imitate them, for example avoid ‘street talk’</li>
    <li>do not use formal or long words when straightforward or short ones will do. Use ‘buy’ instead of ‘purchase’, ‘help’ instead of ‘assist’, ‘about’ instead of ‘approximately’ and ‘like’ instead of ‘such as’</li>
  </ul>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#what-we-publish",
        text: "What we publish"
      },
      {
        href: "#suggest-content",
        text: "Suggest content"
      },
      {
        href: "#get-content-updated",
        text: "Get content updated"
      },
      {
        href: "#writing-for-the-manual",
        text: "Writing for the manual"
      }
    ]
  }) }}

{% endblock %}