{% set pageTitle       = "Add or update content" %}
{% set pageDescription = "" %}

{% extends "includes/guidance.njk" %}

{% block bodyContent %}
  {% markdown %}{% include "add-or-update-content/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#what-we-publish",
        text: "What we publish"
      },
      {
        href: "#suggest-content",
        text: "Suggest content"
      },
      {
        href: "#get-content-updated",
        text: "Get content updated"
      },
      {
        href: "#writing-for-the-manual",
        text: "Writing for the manual"
      }
    ]
  }) }}

{% endblock %}