<div class="govuk-width-container">

  <div class="moduk-feedback js-feedback govuk-!-display-none-print">

    <div class="moduk-feedback__prompt js-feedback-prompt no-js:is-hidden">

      <div class="moduk-feedback__prompt-content">

        <div class="moduk-feedback__prompt-questions js-feedback-question">

          <div class="moduk-feedback__prompt-question-answer">

            <h2 class="moduk-feedback__prompt-question">Did you find what you were looking for?</h2>

            <ul class="moduk-feedback__option-list">
              
              <li class="moduk-feedback__option-list-item">
                <button class="govuk-button moduk-feedback__prompt-link js-feedback-button js-feedback-yes" aria-controls="moduk-feedback__yes">Yes <span class="govuk-visually-hidden">this page is useful</span></button>
              </li>

              <li class="moduk-feedback__option-list-item">
                <button class="govuk-button moduk-feedback__prompt-link js-feedback-button js-feedback-no" aria-controls="moduk-feedback__no">No <span class="govuk-visually-hidden">this page is not useful</span></button>
              </li>

            </ul>

          </div>

        </div>

        <div class="moduk-feedback__prompt-success js-feedback-success is-hidden" id="moduk-feedback__status" role="alert">Thank you for your feedback</div>

      </div>

    </div>

    <form class="moduk-feedback__form js-feedback-form js-form is-hidden" id="moduk-feedback__yes" name="Yes, I found what I was looking for" method="POST" autocomplete="off" data-netlify="true" data-netlify-honeypot="giraffe-yes">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-error-summary js-error-summary is-hidden" tabindex="-1">
              <div role="alert">
                <h1 class="govuk-error-summary__title">There is a problem</h1>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <li class="is-hidden" id="email-yes-summary-error"><a href="#email-yes">Enter a valid email address</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <h2 class="govuk-heading-m">Help improve the Defence Service Manual</h2>

            <input type="hidden" name="Did you find what you were looking for?" value="Yes" tabindex="-1">
            <input type="hidden" name="Url" value="https://defence-service-manual.netlify.app{{ page.url }}" tabindex="-1">

            {{ component('textarea', {
              id: 'tell-us-more',
              name: 'Tell us more (optional)',
              rows: 3,
              label: {
                text: 'Tell us more (optional)'
              },
              hint: {
                text: 'Include feedback, questions and suggestions.'
              },
              spellcheck: true
            }) }}

            <div class="govuk-form-group">
              <label class="govuk-label" for="email-yes">Email address (optional)</label>
              <div class="govuk-hint" id="email-yes-hint">We will only contact you to discuss your feedback.</div>
              <p class="govuk-error-message is-hidden" id="email-yes-error"><span class="govuk-visually-hidden">Error:</span> Enter a valid email address</p>
              <input class="govuk-input" id="email-yes" name="Email address (optional)" type="email" aria-describedby="email-yes-hint email-yes-error" data-validate="true">
            </div>

            <div class="govuk-form-group govuk-visually-hidden" aria-hidden="true">
              <label class="govuk-label govuk-label--m" for="giraffe-yes">Don’t fill this out if you’re human</label>
              <input class="govuk-input" id="giraffe-yes" name="giraffe-yes" type="text" autocomplete="off" tabindex="-1">
            </div>

            <div class="govuk-button-group">

              {{ component('button', {
                classes: 'govuk-!-margin-bottom-0',
                text: 'Send feedback',
                type: 'submit'
              }) }}

              {{ component('button', {
                classes: 'govuk-button--secondary govuk-!-margin-bottom-0 moduk-feedback__close js-feedback-yes-close no-js:is-hidden',
                text: 'Cancel',
                type: 'button',
                attributes: {
                  'aria-controls': 'moduk-feedback__yes'
                }
              }) }}

            </div>

          </div>

        </div>

      </div>

    </form>

    <form class="moduk-feedback__form js-feedback-form js-form is-hidden" id="moduk-feedback__no" name="No, I didn’t find what I was looking for" method="POST" autocomplete="off" data-netlify="true" data-netlify-honeypot="giraffe-no">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-error-summary js-error-summary is-hidden" tabindex="-1">
              <div role="alert">
                <h1 class="govuk-error-summary__title">There is a problem</h1>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <li class="is-hidden" id="what-guidance-were-you-looking-for-summary-error"><a href="#what-guidance-were-you-looking-for">Tell us what guidance you were looking for</a></li>
                    <li class="is-hidden" id="email-no-summary-error"><a href="#email-no">Enter a valid email address</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <h2 class="govuk-heading-m">Help improve the Defence Service Manual</h2>

            <input type="hidden" name="Did you find what you were looking for?" value="No" tabindex="-1">
            <input type="hidden" name="Url" value="https://defence-service-manual.netlify.app{{ page.url }}" tabindex="-1">

            <div class="govuk-form-group">
              <label class="govuk-label" for="what-guidance-were-you-looking-for">What guidance were you looking for?</label>
              <div class="govuk-hint" id="what-guidance-were-you-looking-for-hint">Include details, questions and suggestions.</div>
              <p class="govuk-error-message is-hidden" id="what-guidance-were-you-looking-for-error"><span class="govuk-visually-hidden">Error:</span> Tell us what guidance you were looking for</p>
              <textarea class="govuk-textarea" id="what-guidance-were-you-looking-for" name="What guidance were you looking for?" rows="3" spellcheck="true" aria-describedby="what-guidance-were-you-looking-for-hint" required></textarea>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email-no">Email address (optional)</label>
              <div class="govuk-hint" id="email-no-hint">We will only contact you to discuss your feedback.</div>
              <p class="govuk-error-message is-hidden" id="email-no-error"><span class="govuk-visually-hidden">Error:</span> Enter a valid email address</p>
              <input class="govuk-input" id="email-no" name="Email address (optional)" type="email" aria-describedby="email-no-hint email-yes-error" data-validate="true">
            </div>

            <div class="govuk-form-group govuk-visually-hidden" aria-hidden="true">
              <label class="govuk-label govuk-label--m" for="giraffe-no">Don’t fill this out if you’re human</label>
              <input class="govuk-input" id="giraffe-no" name="giraffe-no" type="text" autocomplete="off" tabindex="-1">
            </div>

            <div class="govuk-button-group">

              {{ component('button', {
                classes: 'govuk-!-margin-bottom-0',
                text: 'Send feedback',
                type: 'submit'
              }) }}

              {{ component('button', {
                classes: 'govuk-button--secondary govuk-!-margin-bottom-0 moduk-feedback__close js-feedback-no-close no-js:is-hidden',
                text: 'Cancel',
                type: 'button',
                attributes: {
                  'aria-controls': 'moduk-feedback__no'
                }
              }) }}

            </div>

          </div>

        </div>

      </div>

    </form>

  </div>

</div>
