{{ component('footer', {
  classes: "govuk-footer--has-feedback",
  meta: {
    items: [
      {
        href: meta.baseURL + "get-in-touch",
        text: "Get in touch"
      },
      {
        href: meta.baseURL + "site-map",
        text: "Site map"
      }
    ]
  }
}) }}
