{{ component('footer', {
  classes: 'govuk-footer--has-feedback',
  meta: {
    items: [
      {
        href: '/get-in-touch/' | url,
        text: 'Get in touch'
      },
      {
        href: '/cookies/' | url,
        text: 'Cookies'
      },
      {
        href: '/accessibility-statement/' | url,
        text: 'Accessibility statement'
      },
      {
        href: '/site-map/' | url,
        text: 'Site map'
      }
    ]
  }
}) }}
