{{ component('footer', {
  classes: "govuk-footer--has-feedback",
  meta: {
    items: [
      {
        href: "/cookies" | url,
        text: "Cookies"
      },
      {
        href: "/get-in-touch" | url,
        text: "Get in touch"
      },
      {
        href: "/site-map" | url,
        text: "Site map"
      }
    ]
  }
}) }}
