{%- if dateUpdated %}

  <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Updated {{ dateUpdated }}</p>

{% elseif datePublished %}

  <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Published {{ datePublished }}</p>
  
{% endif -%}