<div class="govuk-grid-column-one-third">
  {{ modukcomponent('related-content', {
    "ariaLabel": 'Related content',
    "id": 'related-get-involved',
    "title": 'Get involved',
    "description": 'Help improve the Defence Service Manual.',
    "items": [
      {
        "text": 'Suggest content',
        "url": '/suggest-content/'
      },
      {
        "text": 'Take part in user research',
        "url": '/take-part-in-user-research/'
      }
    ]
  }) }}
</div>
