<div class="govuk-grid-column-one-third">

  {% if (related === 'design') or (related === 'user-research') %}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-join-the-community',
      "title": 'Join the community',
      "description": 'Share what you are doing and learn from projects across Defence.',
      "items": [
        {
          "text": 'User-centred design community',
          "url": '/your-community/user-centred-design/'
        }
      ]
    }) }}

  {% elif related === 'content' %}
    {{ modukcomponent('callout', {
      classes: 'moduk-callout--v2',
      title: 'Content toolkit',
      content: '<p>Reuse processes and templates for publishing content, including audits.</p>',
      link: {
        text: 'Use the toolkit',
        hiddenText: 'about how the Home Office uses data to design services',
        url: '/content-toolkit/',
        external: true
      }
    }) }}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-join-the-community',
      "title": 'Join the community',
      "description": 'Share what you are doing and learn from projects across Defence.',
      "items": [
        {
          "text": 'Content community',
          "url": '/your-community/content/'
        }
      ]
    }) }}

  {% elif related === 'content-toolkit' %}
    
    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-join-the-community',
      "title": 'Join the community',
      "description": 'Share what you are doing and learn from projects across Defence.',
      "items": [
        {
          "text": 'Content community',
          "url": '/your-community/content/'
        }
      ]
    }) }}

  {% else %}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-get-involved',
      "title": 'Get involved',
      "description": 'Help improve the Defence Service Manual.',
      "items": [
        {
          "text": 'Suggest content',
          "url": '/suggest-content/'
        },
        {
          "text": 'Take part in user research',
          "url": '/take-part-in-user-research/'
        }
      ]
    }) }}

  {% endif %}

</div>
