<div class="govuk-grid-column-one-third">

  {% if (related === 'design') or (related === 'user-research') %}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-join-the-community',
      "title": 'Join the community',
      "description": 'Share what you are doing and learn from projects across Defence.',
      "items": [
        {
          "text": 'User-centred design community',
          "url": '/your-community/user-centred-design/'
        }
      ]
    }) }}

  {% elif related === 'content' %}
{{ modukcomponent('callout', {
  title: 'Case study',
  content: '<p>The Home Office and Border Force relied heavily on data to design a service that helps keep the UK border secure. They continue to use data to improve it. </p>',
  link: {
    text: 'Find out more',
    hiddenText: 'about how the Home Office uses data to design services',
    url: 'https://hodigital.blog.gov.uk/2022/01/31/analysing-data-to-identify-risks-at-the-uk-border/',
    external: true
  }
}) }}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-join-the-community',
      "title": 'Join the community',
      "description": 'Share what you are doing and learn from projects across Defence.',
      "items": [
        {
          "text": 'Content community',
          "url": '/your-community/content/'
        }
      ]
    }) }}

  {% else %}

    {{ modukcomponent('related-content', {
      "ariaLabel": 'Related content',
      "id": 'related-get-involved',
      "title": 'Get involved',
      "description": 'Help improve the Defence Service Manual.',
      "items": [
        {
          "text": 'Suggest content',
          "url": '/suggest-content/'
        },
        {
          "text": 'Take part in user research',
          "url": '/take-part-in-user-research/'
        }
      ]
    }) }}

  {% endif %}

</div>
