{% set pageTitle       = "Understand Defence environments" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/understand-defence-environments/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#accessibility-across-Defence",
        text: "Accessibility across Defence"
      },
      {
        href: "#consider-the-battlespace",
        text: "Consider the battlespace"
      }
    ]
  }) }}

{% endblock %}