{% extends "layouts/guidance.njk" %}

{% set title = "Use the content checklist" %}
{% set description = "When you write content for Defence, use this checklist to help you meet GOV.UK and Defence content standards. " %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Use the content checklist</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#what-you-need-to-do">What you need to do</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#the-publishing-process">Follow the publishing process</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#related-guidance">Related guidance</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">
          
          <p class="govuk-body">Use this checklist to write better content for people across Defence. This checklist supports GOV.UK and Defence standards.</p>


          <h2 class="govuk-heading-l" id="What you need to do">What you need to do</h2>

          {% set htmlAccordion1 %}
          <p class="govuk-body">Before writing anything, check what already exists on GOV.UK and in Defence. </p>
          <p class="govuk-body">For example, you are asked to write guidance on keeping data secure. You will find a lot of guidance on GOV.UK. Instead of repeating the guidance, give people a link to it.</p>
          <p class="govuk-body">If people need Defence-specific guidance, check what is available on the intranet and in Defence publications. If guidance already exists, contact the content or platform owner to discuss adding content.</p>

          {% endset %}

          {% set htmlAccordion2 %}

            <p class="govuk-body">Content in Defence often includes too much information. This makes it hard for people to understand information quickly and easily. </p> 
            <p class="govuk-body">Before writing any content, start by understanding what people need to know. Then, only include content that helps them.</p> 
            <p class="govuk-body">Write the user needs at the top of your draft. Review every sentence against the user needs and delete what people do not need. If some users need more information, include links to it.</p> 
            <p class="govuk-body">More <a href="https://defence-service-manual.netlify.app/content/write-less-content/">guidance on writing less content</a>.</p>

          {% endset %}

          {% set htmlAccordion3 %}
            <p class="govuk-body">Using active language makes it clear who needs to do something.</p> 
            <p class="govuk-body">To keep language active, GOV.UK addresses users as ’you’. For example, instead of ‘The form needs to be submitted’ use ‘You need to submit the form’.</p>
            <p class="govuk-body">You can refer to the Ministry of Defence or your organisation as ‘we’. For example, instead of ‘A confirmation email will be sent’ use ‘We will send you a confirmation email’.</p>
            <p class="govuk-body">Check that all of your content uses active language.</p>
            <p class="govuk-body">More <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#:~:text=Writing%20to%20GOV.-,UK,-style">guidance on GOV.UK style</a>.</p>

          {% endset %}

          {% set htmlAccordion4 %}
            <p class="govuk-body">Write like you are in a conversation with someone. For example, instead of ‘as a consequence of’ use ‘because’ or ‘to’ instead of ‘in order to’. Find more examples in the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#words-to-avoid:~:text=a%20brand%20name.-,Words%20to%20avoid,-Plain%20English%20is">GOV.UK list of words to avoid</a>.</p>
            <p class="govuk-body">When you write for experts, use the words they use but think about someone who is new to Defence. For example, instead of ‘interoperability’ you can use ‘work together', 'act together' or 'integrate'.</p>
            <p class="govuk-body">In Defence, many military terms are agreed with the North Atlantic Treaty Organization (NATO). You should not change military terms.</p>
            <p class="govuk-body">More <a href="https://servicemanual.digital.mod.uk/content/write-for-digital-services/">guidance writing for services in Defence</a>.</p>

          {% endset %}

          {% set htmlAccordion5 %}
            <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion6 %}
          <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion7 %}
          <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion8 %}
          <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion9 %}
          <p class="govuk-body"></p>

          {% endset %}
        

          {{ component('accordion', {
            classes: 'govuk-!-margin-bottom-0',
            id: 'accordion-standards',
            items: [
              {
                heading: {
                  text: '1. Check what is already published'
                },
                content: {
                  html: htmlAccordion1 
                }
              },
              {
                heading: {
                  text: '2. Only write what people need'
                },
                content: {
                  html: htmlAccordion2
                }
              },
              {
                heading: {
                  text: '3. Use active language'
                },
                content: {
                  html: htmlAccordion3
                }
              },
              {
                heading: {
                  text: '4. Choose simple and familiar words'
                },
                content: {
                  html: htmlAccordion4
                }
              },
              {
                heading: {
                  text: '5. Give your content a strong title'
                },
                content: {
                  html: htmlAccordion5
                }
              },
              {
                heading: {
                  text: '6. Tell people what they need to do'
                },
                content: {
                  html: htmlAccordion6
                }
              },
              {
                heading: {
                  text: '7. Write out acronyms the first time'
                },
                content: {
                  html: htmlAccordion7
                }
              },
              {
                heading: {
                  text: '8. Use active language'
                },
                content: {
                  html: htmlAccordion8
                }
              },
              {
                heading: {
                  text: '9. Keep sentences short'
                },
                content: {
                  html: htmlAccordion9
                }
              },
              {
                heading: {
                  text: '10. Break up content with headers'
                },
                content: {
                  html: htmlAccordion10
                }
              },
              {
                heading: {
                  text: '11. Add bullet points '
                },
                content: {
                  html: htmlAccordion11
                }
              },
              {
                heading: {
                  text: '12. Read your content out loud'
                },
                content: {
                  html: htmlAccordion12
                }
              }
            ]
          }) }}

        <br><br>

        <h3 class="govuk-heading-m">Follow the publishing process</h3>

        <p class="govuk-body">Understanding what users need is the first step in the publishing process. The process includes ways to check your content and test it with users.</p>
        <p class="govuk-body">Find out <a href="/content-toolkit-follow-the-publishing-process">more about the publishing process</a>.</p>

        <h3 class="govuk-heading-m">Related guidance</h3>

        <p class="govuk-body"><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">Content design: planning, writing and managing content</a></p> 
        <p class="govuk-body"><a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a></p>  

        <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Updated April 2024</p>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

