{% extends "layouts/guidance.njk" %}

{% set pageTitle       = "Research with military ranks" %}
{% set pageDescription = "Depending on their rank and duties, some staff will require approval from their commanding officer to participate in user research activities." %}
{% set sectionId       = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Depending on their rank and duties, some staff will require approval from their commanding officer to participate in user research activities.</p>

  <p>You should consider that it may take longer to recruit service personnel for research and plan sessions in good time.</p>

  <p>If you hold a focus group or workshop with military users of different ranks, consider the impact of the chain of command on what users decide they can or cannot contribute.</p>

  <p>The military are naturally rank-conscious and may adapt their behaviour. For example, a participant may moderate their answers to questions in a research interview if someone more senior is in the room.</p>

  <h2 id="how-to-address-service-personnel">How to address service personnel</h2>

  <p>If you are a civilian, you are not required to address officers with Sir, Ma’am or their military title. However, it is polite to ask at the beginning of your session how they prefer to be addressed.</p>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#how-to-address-service-personnel",
        text: "How to address service personnel"
      }
    ]
  }) }}

{% endblock %}