{% extends "guidance.njk" %}

{% set pageTitle       = "Delivery Managers" %}
{% set pageDescription = "To create digital products or services that anyone in Defence can use, you need to make accessibility part of delivery. For example, discussing potential accessibility issues as features are designed." %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#plan-work-on-accessibility",
        text: "Plan work on accessibility"
      },
      {
        href: "#definition-of-ready",
        text: "Definition of ready"
      },
      {
        href: "#definition-of-done",
        text: "Definition of done"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}