{% set pageTitle       = "Delivery Managers" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/meet-accessibility-regulations/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/delivery-managers/README.md" %}{% endmarkdown %}
{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#plan-work-on-accessibility",
        text: "Plan work on accessibility"
      },
      {
        href: "#definition-of-ready",
        text: "Definition of ready"
      },
      {
        href: "#definition-of-done",
        text: "Definition of done"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}