{% extends "guidance.njk" %}

{% set pageTitle       = "Research with disabled users" %}
{% set pageDescription = "You must include people with different disabilities in your research. This helps your service meet the needs of all of its users." %}
{% set sectionId       = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>You must include people with different disabilities in your research. This helps your service meet the needs of all of its users.</p>

  <p>You need to include participants who:</p>

  <ul>
    <li>are disabled or use assistive technologies</li>
    <li>have limited digital skills or low literacy</li>
    <li>may need help to use your service</li>
  </ul>

  <p>The Defence Disability Network (DDN) can help you recruit participants with condition-specific disabilities.</p>

</div>

{% endblock %}