/* -------------------------------- 

Title: Related content

-------------------------------- */

.moduk-related-content {
  border-top: 1px solid $govuk-border-colour;
  padding-top: 5px;
}


.moduk-related-content__title {
  @include govuk-font(19, $weight: bold);
}


.moduk-related-content__description {
  @include govuk-font(19);
}


.moduk-related-content__list {
  @include govuk-text-colour;
  @include govuk-font($size: 19);
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.moduk-related-content__list-item {
  line-height: 1.3;
  list-style-type: none;
  padding-top: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(6) / 4;
  }

}


.moduk-related-content__list-link {
  @extend .govuk-link;
  @extend .govuk-link--no-visited-state;
}
