{% extends "layouts/guidance.njk" %}

{% set description = "Use common ways to test your software in Defence and tell us what technical guidance you need." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">How to do security testing</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#test-in-design">Test in design</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#during-development">During development</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#in-production">In production</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#share-what-you-find">Share what you find</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#get-advice">Get advice</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">
          
            <p>Check your technology or service for security vulnerabilities, including [hosted applications].</p>

            <p>Do security testing in all phases and when potential threats are identified.</p>

            <h2 id="test-in-design">Test in design</h2>

            <p>You need to minimise potential vulnerabilities at the design stage.</p>

            <p>[Add how you do this]<p>

            <p>Your findings help the team address any weaknesses in their designs.</p>

            <p>Find out <a href="#0">how to be Secure by Design</a>.</p>
         
            <h2 id="during-development">During development</h2>

            <p>If you write or manage custom code, you must check it for security vulnerabilities. This helps you:</p>

            <ul>
              <li>find and fix vulnerabilities</li>
              <li>improve the quality of your software</li>
              <li>meet coding standards</li>
            </ul>

            <p>Use automated tools to pick up errors and vulnerable libraries that you have used. Examples of automated tools include Nessus, Rapid7 and Qualys.</p>
            <p>After you run the automated tests, ask a security expert to check for vulnerabilities that are harder to find. If you do not have a security expert on your team, you can <a href="mailto:UKStratComDD-IES-SI-CRP-VR@mod.gov.uk?subject=Help with security testing" target="_blank">ask for help with manual testing<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>

            <p>Find out <a href="#0" target="_blank">which automated tools are used in Defence<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>  
            <p>Check <a href="https://gds-way.digital.cabinet-office.gov.uk/manuals/code-review-guidelines.html#content" target="_blank">GOV.UK guidance on code reviews<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>

            <h2 id="in-production">In production</h2>

            <p>After significant changes reach production, you need to do penetration testing (pen testing). This is when external security experts try to find and exploit your vulnerabilities.</p>
            
            <p>Pen testing helps you:</p>

            <ul>
              <li>identify weaknesses attackers could exploit</li>
              <li>understand and fix complex vulnerabilities</li>
              <li>assess your [security posture]</li>
            </ul>

            <p>Ask your commercial team if you should use security experts in Defence or an external company.</p>

            <p>If you use an external company, they should be a verified supplier. You can <a href="https://docs.google.com/document/d/17UZF5u2Ex6vncc0uQPiB3ATknqK095v8ruith4wIU7g/edit#:~:text=https%3A//www.ncsc.gov.uk/section/products%2Dservices/verify%2Dsuppliers%3Fscheme%3DCHECK%2BPenetration%2BTesting">use the National Cyber Security Centre’s register</a>.</p>

            <p>Check <a href="https://www.gov.uk/service-manual/technology/vulnerability-and-penetration-testing" target="_blank">GOV.UK guidance on penetration testing<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>
            
            <h2 id="share-what-you-find">Share what you find</h2>

            <p>Whenever you do security testing, you must share what you find with people who need to know.</p>

            <p>Add findings to your project's risk register. Include enough information for the team to decide how to mitigate risks. Make sure you track how vulnerabilities are being managed.</p>
            
            <p>If you do not find any vulnerabilities, share this with stakeholders. It gives them confidence that your technology or service is as secure as it can be.</p>

            <h2 id="get-advice">Get advice</h2>

            <p>You need to do security testing but there are teams in Defence that can support your approach.</p>

            <h3>Cyber Resilience Programme</h3>

            <p>[Some projects] can get support from the Cyber Resilience Programme (CRP). They use external security experts for activities including:</p>

            <ul>
              <li>bug bounties with rewards for finding vulnerabilities</li>
              <li>red team events that simulate a real world attacker</li>
              <li>[Vulnerability Disclosure Programme (VDP)]</li>
            </ul>

            <p>On MODNET, search for 'Cyber Resilience Programme'.</p>

            <h3>Cyber Security Advisory and Assurance Service</h3>

            <p>Any project in Defence can use the Cyber Security Advisory and Assurance Service (CySAAS) consultancy service.  For example, you have done your pen testing but you have questions about the real-world impact of a specific issue.</p>
          
            <p>On MODNET, search for 'CySAAS consultancy'.</p>

            <h3>Technical security teams</h3>

            <p>If your project is operational, for example [xxxxxx], you can use a technical security team. The teams include military personnel. They are managed by the Joint Information Assurance Co-ordination Cell (JIACC).</p>
            
            <p>On MODNET, search for 'JAICC'.</p>

            {# <h3>Tell us what guidance you need</h3>

            <p>This is the start of technical guidance for developers in Defence. Tell us what other guidance you need, <a href="#0">get in touch</a>.</p> #}

            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published June 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
