{% extends "guidance.njk" %}

{% set pageTitle       = "Digital inclusion in defence" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Service personnel can be positioned widely on the <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#annex-2-digital-inclusion-scale-for-individuals" rel="external nofollow">digital inclusion scale</a>, stretching from 4 to 9+. This means that usability and accessibility testing of design solutions is very important.</p>

  <p>More work is needed to fully understand the digital inclusivity and accessibility needs of our Armed Forces. We’ll update this guidance when we know more.</p>

</div>

{% endblock %}