<nav class="gem-c-contents-list" aria-label="Contents" role="navigation">
   
  <h2 class="gem-c-contents-list__title">Contents</h2>
  
  <ol class="gem-c-contents-list__list">
      
    {% for item in params.items %}
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state" href="{{ item.href }}">{{ item.text }}</a>
    </li>
    {% endfor %}

  </ol>

</nav>