{% extends "guidance.njk" %}

{% set pageTitle       = "Product and delivery" %}
{% set pageDescription = "Anyone working on digital products or services in Defence is welcome to join the product and delivery community." %}
{% set sectionTitle    = "Your community" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

Anyone working on digital products or services in Defence is welcome to join the product and delivery community. It is useful for:

- product owners and managers
- delivery managers
- service owners
- business analysts

## Get involved

There are a few easy ways to be part of the community.

### Slack channels

Using your digital MOD email address, go to defencedigital.slack.com and join the #product-delivery channel. This is the place to ask questions about product management and delivery in Defence.

You might like to get involved with conversations across government. Using your digital MOD email address, go to ukgovernmentdigital.slack.com. Browse and join channels for product and delivery.

### Meetings

Join the product and delivery community calls held every 2 weeks on Thursdays. We discuss anything related to product, delivery and service management in Defence.

To join, send an email to: [delivery-management@digital.mod.uk](mailto:delivery-management@digital.mod.uk).

{{ govukInsetText({
  html: 'You must only share and discuss OFFICIAL data. <a href="#0">Find out about data classifications</a>.'
}) }}

We work under [the Chatham House Rule](https://www.chathamhouse.org/about-us/chatham-house-rule?gclid=CjwKCAjwkYGVBhArEiwA4sZLuK5u_XCJRH7ClZyiXlhtQLMleAKX6CZ3Ka8cuQ1hr70AfK95tVehOhoCP5wQAvD_BwE), creating a safe space for you to share your work and any challenges.

## Useful links

- [Guidance on agile delivery](https://www.gov.uk/service-manual/agile-delivery)
- [GOV.UK agile delivery community](https://www.gov.uk/service-manual/communities/agile-delivery-community)
- [GOV.UK product and service community](https://www.gov.uk/service-manual/communities/product-and-service-community)

{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#get-involved",
        text: "Get involved"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}