{% extends "guidance.njk" %}

{% set pageTitle       = "User Researchers" %}
{% set pageDescription = "Through user research and usability testing, you can help colleagues understand the needs of people who use assistive technology." %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#research-with-a-range-of-users",
        text: "Research with a range of users"
      },
      {
        href: "#usability-testing",
        text: "Usability testing"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}