{% set pageTitle       = "User Researchers" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/meet-accessibility-regulations/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/user-researchers/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#research-with-a-range-of-users",
        text: "Research with a range of users"
      },
      {
        href: "#usability-testing",
        text: "Usability testing"
      },
      {
        href: "#related-content",
        text: "Related content"
      }
    ]
  }) }}

{% endblock %}