{% extends "layouts/base.njk" %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Design and build new technology</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">When you design and build new technology for Defence, you need to do it the right way. There are some principles you need to follow.</p>

          <h2 class="govuk-heading-l">Defence Technology Principles</h2>

          <p class="govuk-body">For more guidance, search for Defence Technology Principles on a MODNET device. 

          <h3 class="govuk-heading-m">Use common standards and patterns</h3>

          <p class="govuk-body">Build your solution from approved technology, data and services to avoid duplication and unnecessary costs.
</p>

<h3 class="govuk-heading-m">Integrate and adapt</h3>
<p class="govuk-body">When designing a solution, you need to plan integrations with current and future Defence data and systems.
</p>

<h3 class="govuk-heading-m">Make data easy to access</h3>
<p class="govuk-body">Data should be available to users and systems when and where they need it, on appropriate devices and infrastructure.
</p>

<h3 class="govuk-heading-m">Make your technical solution secure</h3>
<p class="govuk-body">Our security guidance helps you to make your technology secure throughout its lifetime.
</p>


<h3 class="govuk-heading-m">Build in futureproofing from the start</h3>
<p class="govuk-body">Futureproofing ensures the technology we use remains current, supported, secure and reliable.
</p>

<h3 class="govuk-heading-m">Use the cloud first</h3>
<p class="govuk-body">Cloud is the preferred government technology for hosting, computing, storage, etc.
</p>

<h3 class="govuk-heading-m">Automate and innovate where you can</h3>
<p class="govuk-body">Use modern technologies such as Artificial Intelligence (AI) and Robotic Process Automation (RPA) in innovative ways, where appropriate.
</p>

<h3 class="govuk-heading-m">Reuse when you can</h3>
<p class="govuk-body">Share, reuse and work together on existing solutions to save time and money.
</p>

<h3 class="govuk-heading-m">Continually improve</h3>
<p class="govuk-body">The best way to build good, user-centric products is to start small and iterate often.
</p>

<h2 class="govuk-heading-l"> GOV.UK Technology Code of Practice











          <p class="govuk-body">You should also follow the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/the-technology-code-of-practice" rel="external nofollow">GOV.UK Technology Code of Practice</a></li>.</p>

          {# {% set htmlAccordion1 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
          {% endset %}

          {% set htmlAccordion2 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {% set htmlAccordion3 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {% set htmlAccordion4 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {% set htmlAccordion5 %}
           <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {% set htmlAccordion6 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
          {% endset %}
        
          {% set htmlAccordion7 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
          {% endset %}

          {% set htmlAccordion8 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {% set htmlAccordion9 %}
            <p class="govuk-body">Defence specific guidance here.</p>
            <p class="govuk-body"></p>
            <ul class="govuk-list">
              <li><a class="govuk-link govuk-link--no-visited-state" href="">Useful link</a></li>            
            </ul>
            {% endset %}

          {{ component('accordion', {
            classes: 'govuk-!-margin-bottom-0',
            id: 'accordion-standards',
            items: [
              {
                heading: {
                  text: '1. Use common standards and patterns'
                },
                content: {
                  html: htmlAccordion1 
                }
              },
              {
                heading: {
                  text: '2. Integrate and adapt'
                },
                content: {
                  html: htmlAccordion2
                }
              },
              {
                heading: {
                  text: '3. Make data easy to access'
                },
                content: {
                  html: htmlAccordion3
                }
              },
              {
                heading: {
                  text: '4. Make your technical solution secure'
                },
                content: {
                  html: htmlAccordion4
                }
              },
              {
                heading: {
                  text: '5. Future proof from the start'
                },
                content: {
                  html: htmlAccordion5
                }
              },
              {
                heading: {
                  text: '6. Use cloud first'
                },
                content: {
                  html: htmlAccordion6
                }
              },
              {
                heading: {
                  text: '7. Automate and innovate where you can'
                },
                content: {
                  html: htmlAccordion7
                }
              },
              {
                heading: {
                  text: '8. Reuse when you can'
                },
                content: {
                  html: htmlAccordion8
                }
              },
              {
                heading: {
                  text: '9. Continually improve'
                },
                content: {
                  html: htmlAccordion9
                }
              }
            ]
          }) }}

          <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Published April 2023</p>

        </div>

      </div>

    </div>

  </div> #}

{% endblock %}
