{% extends "guidance.njk" %}

{% set pageTitle       = "Understanding Defence environments" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

Content goes here...

{# ## Understand the environment

People working in Defence have unique needs.

Consider people in the deployed space, for example military units working away from their permanent base. There are also many people in the operational space, supporting military operations and exercises.

These users may have issues such as:

- low to no 3G and 4G onboard ships
- not being able to use 2-factor authentication
- wearing restrictive kit, such as thick gloves
- devices with limited battery power

You also need to consider accessibility issues related to the battle environment, including:

low light, red light or no light
very noisy environments or the need for silence
difficult outdoor conditions, such as wet screens
high-stress and high-risk scenarios
temperatures below freezing or extreme heat and sunlight
extreme fatigue

Accessibility needs can be permanent, temporary or situational. This is particularly relevant in military settings.  

## Meet the regulations

To meet UK government accessibility regulations, digital products and services must:

- meet level AA of the [Web Content Accessibility Guidelines (WCAG 2.1)](https://www.w3.org/TR/WCAG21) as a minimum
- work on the most commonly used assistive technologies, including screen magnifiers, screen readers and speech recognition tools
- include people with disabilities in user research
- have an accessibility statement that explains how accessible the service is

{{ govukInsetText({
  text: "Anyone creating digital products or services for Defence, including third-party suppliers, must make sure they meet accessibility regulations."
}) }}

Check the guidance on [understanding accessibility requirements for public sector bodies](https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps).

## Your role in accessibility

Every role in digital design and delivery plays a part in accessibility.

For example, for developers to build an accessible service the content needs to be designed to work with assistive technology.

Check how you can help with accessibility:

- [Content Designers](/accessibility/content-designers)
- [Delivery Managers](/accessibility/delivery-managers)
- [Interaction Designers](/accessibility/interaction-designers)
- [Product Managers](/accessibility/product-managers)
- [User Researchers](/accessibility/user-researchers)

## Create an accessibility statement

Since 2018, all public sector websites and applications must include an accessibility statement. It needs to be published before your product or service goes into public beta.

The statement needs to cover:

- whether your website or mobile app is ‘fully’, ‘partially’ or ‘not’ compliant with accessibility standards
- if it’s not fully compliant, which parts do not meet accessibility standards and why. For example, because they are exempt or it would be a disproportionate burden to fix
- how people can get alternatives to content that’s not accessible to them
- how to contact you to report accessibility problems - and a link to the website that they can use if they’re not happy with your response

You can use this [model accessibility statement](https://www.gov.uk/guidance/model-accessibility-statement).

If you can, work with a content designer to make sure your statement is written in plain English.

## Things you might not need to fix

Your team does not need to fix the following types of content because they’re exempt from the accessibility regulations:

- pre-recorded audio and video published before 23 September 2020
- live audio and video
- heritage collections like scanned manuscripts
- PDFs or other documents published before 23 September 2018 - unless users need them to use a service, for example a form that lets you request school meal preferences
- maps but you’ll need to provide essential information, like an address, in an accessible format
- third party content that’s under someone else’s control if you did not pay for it or develop it yourself, for example social media ‘like’ buttons
- content on intranets or extranets published before 23 September 2019 - unless you make a major revision after that date
- archived websites if they are not needed for services your organisation provides and they are not updated

In your accessibility statement, you need to explain that things like this are not accessible because they are exempt.

## Publish accessibility documents

Any documents you include in your service, such as PDFs, must be accessible.

Check the guidance on [publishing accessible documents](https://www.gov.uk/guidance/publishing-accessible-documents).

If you need help making your document accessible, contact the Directorate of Defence Communications.

## Useful links

- [Making things accessible and inclusive](https://www.gov.uk/guidance/make-things-accessible)
- [Doing the hard work to make accessibility simple](https://gds.blog.gov.uk/2016/05/19/doing-the-hard-work-to-make-accessibility-simple)
- [Common assistive technologies](https://www.gov.uk/government/publications/assistive-technology-definition-and-safe-use/assistive-technology-definition-and-safe-use)
- [GOV.UK blogs on accessibility](https://accessibility.blog.gov.uk) #}

{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#understand-the-environment",
        text: "Understand the environment"
      },
      {
        href: "#meet-the-regulations",
        text: "Meet the regulations"
      },
      {
        href: "#your-role-in-accessibility",
        text: "Your role in accessibility"
      },
      {
        href: "#create-an-accessibility-statement",
        text: "Create an accessibility statement"
      },
      {
        href: "#publish-accessibility-documents",
        text: "Publish accessible documents"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}