{% extends "guidance.njk" %}

{% set pageTitle       = "Publish accessible documents" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Any documents you include in your service, such as PDFs, must be accessible.</p>

  <p>Check the guidance on <a href="https://www.gov.uk/guidance/publishing-accessible-documents" rel="external nofollow">publishing accessible documents</a>.</p>

  <p>If you need help making your document accessible, contact the Directorate of Defence Communications.</p>

</div>

{% endblock %}