<div class="mod-contact">
  <p class="govuk-body govuk-!-static-margin-bottom-0">If you have ideas to improve this topic, contact the team at: <br> <a class="govuk-link govuk-link--no-visited-state" href="mailto:service-manual@digital.mod.uk">service-manual@digital.mod.uk</a>.</p>
</div>