<div class="mod-feedback govuk-!-display-none-print">

  <div class="mod-feedback__prompt">

    <div class="govuk-width-container">

      <div class="mod-feedback__prompt-questions">

        <h2 class="mod-feedback__prompt-question">Did you find what you are looking for?</h2>

        <ul class="mod-feedback__option-list">
          <li class="mod-feedback__option-list-item"><button class="govuk-button mod-feedback__prompt-link">Yes <span class="govuk-visually-hidden">this page is useful</span></button></li>
          <li class="mod-feedback__option-list-item"><button class="govuk-button mod-feedback__prompt-link" aria-controls="page-is-not-useful" aria-expanded="false">No <span class="govuk-visually-hidden">this page is not useful</span></button></li>
        </ul>

      </div>

    </div>

  </div>

  <form class="mod-feedback__form" method="POST" action="#0" hidden>

    <div class="govuk-width-container">

      <h2 class="govuk-heading-m">Did you find what you are looking for?</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukTextarea({
              name: "what-information-are-you-looking-for",
              id: "what-information-are-you-looking-for",
              rows: 3,
              label: {
                text: "What information are you looking for?"
              }
            }) }}

            {{ govukTextarea({
              name: "what-task-are-you-doing",
              id: "what-task-are-you-doing",
              rows: 3,
              label: {
                text: "What task are you doing while you look for this information?"
              }
            }) }}

            {{ govukInput({
              label: {
                text: "Email address (optional)"
              },
              type: "email",
              hint: {
                text: "We will only contact you to discuss your feedback."
              },
              id: "event-name",
              name: "event-name"
            }) }}

            {{ govukButton({
              classes: "govuk-!-margin-bottom-0",
              text: "Send",
              type: "submit"
            }) }}

        </div>

      </div>

    </div>

  </form>

</div>


<!--div class="govuk-width-container">

  <div class="gem-c-feedback govuk-!-display-none-print">

    <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">

      <div class="gem-c-feedback__prompt-questions js-prompt-questions">
        
        <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>
        
        <ul class="gem-c-feedback__option-list">
          <li class="gem-c-feedback__option-list-item govuk-visually-hidden" style="display: none" hidden><a class="gem-c-feedback__prompt-link" role="button" style="display: none" hidden="hidden" aria-hidden="true" href="/contact/govuk">Maybe</a></li>
          <li class="gem-c-feedback__option-list-item"><button class="govuk-button gem-c-feedback__prompt-link js-page-is-useful">Yes <span class="govuk-visually-hidden">this page is useful</span></button></li>
          <li class="gem-c-feedback__option-list-item"><button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" aria-controls="page-is-not-useful" aria-expanded="false">No <span class="govuk-visually-hidden">this page is not useful</span></button></li>
        </ul>

      </div>

      <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-success js-prompt-success" role="alert" hidden>Thank you for your feedback</div>
      
      <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
        <button class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" aria-controls="something-is-wrong" aria-expanded="false">Report a problem with this page</button>
      </div>

    </div>

    <form class="gem-c-feedback__form js-feedback-form" action="/contact/govuk/problem_reports" id="something-is-wrong" method="post" hidden>
      
      <button class="govuk-button govuk-button--secondary gem-c-feedback__close gem-c-feedback__js-show js-close-form" aria-controls="something-is-wrong" aria-expanded="true">Close</button>

      <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
          
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-errors" tabindex="-1" hidden></div>

          <input type="hidden" name="url" value="https://components.publishing.service.gov.uk/component-guide/feedback/preview">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p class="gem-c-feedback__form-paragraph" id="feedback_explanation">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

          <div class="govuk-visually-hidden" aria-hidden="true">
            <label for="giraffe">This field is for robots only. Please leave blank</label>
            <input id="giraffe" name="giraffe" type="text" pattern=".{0}" tabindex="-1" autocomplete="off">
          </div>

          <div class="gem-c-textarea govuk-form-group govuk-!-margin-bottom-6">
            <label class="gem-c-label govuk-label" for="textarea-8bca38d7">What were you doing?</label>
            <textarea class="govuk-textarea" name="what_doing" id="textarea-8bca38d7" rows="3" spellcheck="true" aria-describedby="feedback_explanation"></textarea>
          </div>
          
          <div class="gem-c-textarea govuk-form-group govuk-!-margin-bottom-6">
            <label class="gem-c-label govuk-label" for="textarea-e84f78bc">What went wrong?</label>
            <textarea name="what_wrong" class="govuk-textarea" id="textarea-e84f78bc" rows="3" spellcheck="true"></textarea>
          </div>

          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>

      </div>

      <input type="hidden" name="javascript_enabled" value="true">
      <input type="hidden" name="referrer" value="https://components.publishing.service.gov.uk/component-guide/feedback">
      <input type="hidden" name="timer" value="0">
      
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var input = document.querySelector("#giraffe"),
          
        form = document.querySelector("#something-is-wrong")
        form.addEventListener("submit", spamCapture);

        function spamCapture(e) {
          if (input.value.length !== 0) return;
          e.preventDefault();
        }

      });
    </script>

    <form class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form" action="/contact/govuk/email-survey-signup" id="page-is-not-useful" method="post" hidden>
    
      <button class="govuk-button govuk-button--secondary gem-c-feedback__close js-close-form" aria-controls="page-is-not-useful" aria-expanded="true">Close</button>

      <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
          
          <div class="gem-c-feedback__error-summary js-errors" tabindex="-1" hidden></div>

          <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
          <input name="email_survey_signup[survey_source]" type="hidden" value="/component-guide/feedback/preview">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

          <div class="govuk-form-group">
            <label for="input-83b388aa" class="gem-c-label govuk-label">Email address</label>
            <input aria-describedby="survey_explanation" autocomplete="email" class="gem-c-input govuk-input" id="input-83b388aa" name="email_survey_signup[email_address]" spellcheck="false" type="email">
          </div>

          <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>

        </div>

      </div>
      
    </form>

  </div>

</div-->