<div class="mod-feedback js-feedback govuk-!-display-none-print">

  <div class="mod-feedback__prompt js-feedback-prompt no-js:is-hidden">

    <div class="govuk-width-container">

      <div class="mod-feedback__prompt">

        <div class="mod-feedback__prompt-questions js-feedback-question">

          <h2 class="mod-feedback__prompt-question">Did you find what you were looking for?</h2>

          <ul class="mod-feedback__option-list">
            <li class="mod-feedback__option-list-item"><button class="govuk-button mod-feedback__prompt-link js-feedback-yes">Yes <span class="govuk-visually-hidden">this page has what I am looking for</span></button></li>
            <li class="mod-feedback__option-list-item"><button class="govuk-button mod-feedback__prompt-link js-feedback-no" aria-controls="did-not-find" aria-expanded="false">No <span class="govuk-visually-hidden">this page does not have what I am looking for</span></button></li>
          </ul>

        </div>

        <div class="mod-feedback__prompt-success js-feedback-success js:is-hidden" role="alert">Thank you for your feedback</div>

      </div>

    </div>

  </div>

  <form class="mod-feedback__form js-feedback-form js:is-hidden" method="POST" action="#0" id="did-not-find">

    <div class="govuk-width-container">

      {{ govukButton({
        classes: "govuk-button--secondary mod-feedback__close js-feedback-close no-js:is-hidden",
        text: "Close",
        type: "button"
      }) }}

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Help improve the Defence Service Manual</h2>

          {{ govukTextarea({
            name: "what-were-you-looking-for",
            id: "what-were-you-looking-for",
            rows: 3,
            label: {
              text: "What were you looking for?"
            },
            spellcheck: true
          }) }}

          {{ govukTextarea({
            name: "any-other-comments",
            id: "any-other-comments",
            rows: 3,
            label: {
              text: "Any other comments"
            },
            spellcheck: true
          }) }}

          {{ govukInput({
            label: {
              text: "Email address (optional)"
            },
            type: "email",
            hint: {
              text: "We will only contact you to discuss your feedback."
            },
            id: "event-name",
            name: "event-name"
          }) }}

          {{ govukButton({
            classes: "govuk-!-margin-bottom-0",
            text: "Send feedback",
            type: "submit"
          }) }}

        </div>

      </div>

    </div>

  </form>

</div>