{% if getInTouch != false %}
  {{ govukFooter({
    classes: "govuk-footer--has-feedback",
    meta: {
      items: [
        {
          href: "/get-in-touch",
          text: "Get in touch"
        },
        {
          href: "/sitemap",
          text: "Site map"
        }
      ]
    }
  }) }}
{% else %}
  {{ govukFooter() }}
{% endif %}