<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link govuk-link--no-visited-state" href="#0">feedback</a> will help us to improve it.'
  }) }}
</div>