{# {% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="related-content">Related content</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="related-content">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#1">Link one</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#2">Link two</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#3">Link three</a></li>
    </ul>
  </nav>

</div>

{% endblock %} #}