{% extends "landing.njk" %}

{% set pageTitle       = "Accessibility" %}
{% set pageLead        = "We need to create digital services and products that are easy for everyone, including people who use things like screen readers and magnifiers." %}
{% set pageDescription = "" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/accessibility/accessibility-in-defence">Accessibility in Defence</a></h2>
  <p>Content TBC.</p>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="related-content">Related content</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="related-content">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="https://www.gov.uk/guidance/make-things-accessible" rel="external nofollow">Making things accessible and inclusive</a>
      </li>
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="https://gds.blog.gov.uk/2016/05/19/doing-the-hard-work-to-make-accessibility-simple" rel="external nofollow">Doing the hard work to make accessibility simple</a>
      </li>
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/assistive-technology-definition-and-safe-use/assistive-technology-definition-and-safe-use" rel="external nofollow">Common assistive technologies</a>
      </li>
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="https://accessibility.blog.gov.uk" rel="external nofollow">GOV.UK blogs on accessibility</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock %}
