{% extends "landing.njk" %}

{% set pageTitle       = "Accessibility" %}
{% set pageDescription = "" %}

{% block bodyContent %}
<h1>Accessibility</h1>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}accessibility/understanding-defence-environments">Understanding Defence environments</a></h2>

<ul>
  <li>Deployed and operational environments</li>
  <li>Accessibility issues in the battlespace</li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}accessibility/meet-accessibility-regulations">Meet accessibility regulations</a></h2>

<ul>
  <li>Accessibility regulations in Defence</li>
  <li>Your role in making services and products accessible</li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}accessibility/publishing-statements-and-accessible-documents">Publishing statements and accessible documents</a></h2>

<ul>
  <li>Check if your service need an accessibility statement</li>
  <li>Create accessible documents</li> 
</ul>
{% endblock %}