{% set pageTitle = "Design" %}
{% set pageLead = "Find out what good looks like in Defence, name things well and use patterns that have been tested." %}
{% set pageDescription = "Find out what good looks like in Defence, name things well and use patterns that have been tested." %}

{% extends "layouts/landing.njk" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Things to consider in Defence</h2>
  <p>A short blurb to introduce the section...</p>

  <ul class="govuk-list">
    <li><a href="#0">Keep users safe</a></li>
    <li><a href="#0">Start with simple designs</a></li>
    <li><a href="#0">Design a secure service</a></li>
    <li><a href="/design/how-to-classify-information/">How to classify information</a></li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Designing something new</h2>
  <p>A short blurb to introduce the section...</p>

  <ul class="govuk-list">
    <li><a href="#0">Naming things in Defence</a></li>
    <li><a href="#0">Check existing patterns</a></li>
  </ul>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="useful-links">Useful links</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="useful-links">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#0">Interaction Designers and accessibility</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock %}