{% extends "landing.njk" %}

{% set pageTitle       = "Design" %}
{% set pageDescription = "" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}design/start-with-simple-designs">Start with simple designs</a></h2>
  <ul>
    <li>Check existing patterns</li>
    <li>Use the correct styles</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}design/keep-military-personnel-safe">Keep military personnel safe</a></h2>
  <ul>
    <li>Consider safety from the start</li>
    <li>Test in a real or simulated environment</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}design/naming-things-in-defence">Naming things in Defence</a></h2>
  <ul>
    <li>Transactional services or products</li>
    <li>Non-transactional services or products</li>
    <li>Avoid acronyms</li> 
  </ul>

</div>

{% endblock %}
