{% extends "landing.njk" %}

{% set pageTitle       = "Design" %}
{% set pageLead        = "Find out what good looks like in Defence, name things well and use patterns that have been tested." %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}design/things-to-consider-in-defence">Things to consider in Defence</a></h2>
  <p>Content TBC.</p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}design/designing-something-new">Designing something new</a></h2>
  <p>Content TBC.</p>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="related-content">Related content</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="related-content">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link">
        <a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#0">Interaction Designers and accessibility</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock %}