{% extends "landing.njk" %}

{% set pageTitle   = "Defence Service Manual prototype" %}
{% set phaseBanner = false %}
{% set breadcrumb  = false %}
{% set feedback    = false %}
{% set getInTouch  = false %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}