{% set pageTitle       = "Product Managers" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/meet-accessibility-regulations/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/product-managers/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#help-your-team-understand",
        text: "Help your team understand"
      },
      {
        href: "#get-stakeholders-onboard",
        text: "Get stakeholders onboard"
      },
      {
        href: "#prioritise-accessibility",
        text: "Prioritise accessibility"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}