{% extends "guidance.njk" %}

{% set pageTitle       = "Understanding military personnel" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <h2 id="defence-users-are-diverse">Defence users are diverse</h2>

  <p>Our users are very diverse, from recent school-leavers to experienced and highly qualified specialists.</p>

  <p>Military personnel are located around the UK and overseas. They have very different access to IT and most do not spend all day working at a desk or in front of a computer.</p>

  <p>Read more about <a href="#0">Defence environments and accessibility</a>.</p>

  <h3>Users come from a range of organisations</h3>

  <p>In Defence, the 3 Front Line Commands (FLCs) are:</p>

  <ul>
    <li>Royal Navy</li>
    <li>British Army</li>
    <li>Royal Air Force</li>
  </ul>

  <p>There are other organisations, including Defence & Equipment Support (DE&S), and Defence Science and Technology Laboratory (Dstl).</p>

  <p>When conducting user research, you should recruit participants from every organisation that will use your service.</p>

  <h3>Digital skills can vary</h3>

  <p>Military personnel can be positioned widely on the <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#annex-2-digital-inclusion-scale-for-individuals">digital inclusion scale</a>, stretching from 4 to 9+. This means that usability and accessibility testing of design solutions is very important.</p>

  {{ govukInsetText({
    text: "More work is needed to fully understand the digital inclusivity and accessibility needs of our Armed Forces. We’ll update this guidance when we know more."
  }) }}

  <h2 id="user-research-and-military-rank">User research and military rank</h2>

  <h3>Participants may need approval</h3>

  <p>Some staff will need approval from their commanding officer to take part in user research.</p>

  <p>It may take longer to recruit military personnel for research. When planning research, allow plenty of lead time for recruitment.</p>

  <h3>Rank can influence results</h3>

  <p>Military personnel are rank-conscious and may adapt their behaviour. For example: a participant may moderate their answers to questions in a research interview if someone more senior is in the room.</p>

  <p>It is best to arrange one-to-one research sessions with users or potential users. If you hold a focus group or workshop with military personnel of different ranks, consider the impact of the chain of command on what users decide they can or cannot contribute.</p>

  <h3>Ask how participants want to be addressed</h3>

  <p>Civilians do not have to address officers as Sir, Ma’am or by their military title. But you should still ask participants what they want to be called</p>

  <h4>Using rank in email</h4>

  <p>If you are contacting someone for the first time by email, address them using their rank. You can find it in their email address.</p>

  <h2 id="help-with-acronyms">Help with acronyms</h2>

  <p>Acronyms are common in Defence. This is not always a choice: some acronyms are mandated and maintained by organisations like North Atlantic Treaty Organization (NATO).</p>

  <p>If possible, bring someone with military experience to help translate acronyms during research sessions. If this isn’t possible, you can <a href="https://www.gov.uk/">read a Defence acronym glossary</a>.</p>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#defence-users-are-diverse",
        text: "Defence users are diverse"
      },
      {
        href: "#user-research-and-military-rank",
        text: "User research and military rank"
      },
      {
        href: "#help-with-acronyms",
        text: "Help with acronyms"
      }
    ]
  }) }}

{% endblock %}
