{% set pageTitle       = "Understanding military personnel" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "user-research/understanding-military-personnel/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#defence-users-are-diverse",
        text: "Defence users are diverse"
      },
      {
        href: "#user-research-and-military-rank",
        text: "User research and military rank"
      },
      {
        href: "#help-with-acronyms",
        text: "Help with acronyms"
      }
    ]
  }) }}

{% endblock %}
