// GOV Frontend styles
@import "node_modules/govuk-frontend/govuk/all";


// GOV Publishing components
@import "gov-publishing-components/all";


html {
  background-color: govuk-colour("light-grey");
}


body {
  background-color: govuk-colour("white");
  margin: 0;
  padding: 0;
}


// MOD brand colour
$mod-brand-color: #512B45;


// MOD specific components
.mod-hero {
  background-color: $mod-brand-color;
  margin-top: -1px; // Sit over phase banner 1px border

  .govuk-heading-xl,
  .govuk-body-l {
    color: govuk-colour("white");
  }

}


.govuk-tag {
  background-color: $mod-brand-color;
}

.mod-prose {

  h1:not([class]) {
    @extend .govuk-heading-xl;
  }

  h2:not([class]) {
    @extend .govuk-heading-l;
  }

  h3:not([class]) {
    @extend .govuk-heading-m;
  }

  p:not([class]) {
    @extend .govuk-body;
  }

  ul:not([class]) {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  a:not([class]) {
    @extend .govuk-link;
    @extend .govuk-link--no-visited-state;
  }

}



// Page contents list
.govuk-list--contents {
  margin-bottom: 30px;
}

.govuk-list--contents li {
  margin-left: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  &::before {
    content: "– ";
    display: inline-block;
    left: 0; top: 0;
    padding-right: 5px;
    position: absolute;
  }

}

.govuk-list--contents a {
  @extend .govuk-body-s;
  @extend .govuk-link;
  @extend .govuk-link--no-visited-state;
}


// Sticky element
.govuk-sticky-element {
  
  @include govuk-media-query ($from: desktop) {
    position: sticky;
    top: 20px;
  }

}


// GOV Card
.govuk-card {
  border-top: 1px solid $govuk-border-colour;
  padding-right: 15px;
  padding-top: 20px;
}


// GOV Publishng overrides
.gem-c-related-navigation {
  border-top: 1px solid $govuk-border-colour;
}


.gem-c-feedback__prompt {
  background-color: $mod-brand-color;
}


// GOV Footer with feedback
.govuk-footer--has-feedback {
  border-top: 10px solid $mod-brand-color;
}






// MoD Header
.mod-header__container {
  border-bottom-color: $mod-brand-color;
}

.mod-header__logo {
  @include govuk-responsive-margin(2, "bottom");
  padding-right: govuk-spacing(8);

  @include govuk-media-query ($from: desktop) {
    width: 33.33%;
    padding-right: $govuk-gutter-half;
    float: left;
    vertical-align: top;
  }
}

.mod-header__logo-link {
  display: inline-block; 
  vertical-align: top;

  &:focus {
    box-shadow: none;
  }

}

.mod-header__logo-svg {
  display: inline-block;
  vertical-align: top;
}

.mod-header__service-name {

  @include govuk-media-query ($from: desktop) {
    margin-top: 7px;
    margin-bottom: 3px;
  }

}