{%- from "system/component.njk" import component -%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} - {{ meta.serviceName }}{% else %}{{ meta.serviceName }}{% endif %}</title>

    {% if meta.env != 'production' %}
    <meta name="robots" content="none">
    {% endif %}

    {# Search Engine #}
    <meta name="description" content="{% if description %}{{ description }}{% else %}Helping you meet service standards and do your role in Defence.{% endif %}">

    {# Theme colour #}
    <meta name="theme-color" content="#4D2942">

    {# Windows tiles #}
    <meta name="msapplication-TileColor" content="#4D2942">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/tile-310x150.png' | url }}">
    <meta name="msapplication-square70x70logo" content="{{ '/assets/images/tile-70x70.png' | url }}">
    <meta name="msapplication-square150x150logo" content="{{ '/assets/images/tile-150x150.png' | url }}">
    <meta name="msapplication-wide310x150logo" content="{{ '/assets/images/tile-310x150.png' | url }}">
    <meta name="msapplication-square310x310logo" content="{{ '/assets/images/tile-310x310.png' | url }}">

    {# iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ meta.serviceName }}">

    {# Apple touch icon #}
    <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | url }}">

    {# Mask icon #}
    <link rel="mask-icon" href="{{ '/assets/images/mask-icon.svg' | url }}" color="#4D2942">

    {# Fav icon #}
    <link rel="icon" href="{{ '/assets/images/favicon.png' | url }}">

    {# Opengraph #}
    <meta property="og:image" content="{{ '/assets/images/opengraph.png' | url }}">

    {# Stylesheet #}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

  </head>

  <body>

    {% include "header.njk" ignore missing %}

    <main class="content" id="content">

      <div class="govuk-width-container">

        <div class="govuk-main-wrapper">

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              
              <div class="moduk-prose">
                {{ content | safe }}
              </div>

            </div>

          </div>

        </div>

      </div>

    </main>

    {% include "footer.njk" ignore missing %}

  </body>
</html>
