{%- from "system/component.njk" import component -%}
{%- from "system/modukcomponent.njk" import modukcomponent -%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} - {{ meta.serviceName }}{% else %}{{ meta.serviceName }}{% endif %}</title>

    {# Search Engine #}
    <meta name="description" content="{% if description %}{{ description }}{% else %}Helping you meet service standards and do your role in Defence.{% endif %}">

    {# Prevent search engines from indexing [REMOVE WHEN WE GO LIVE!!!] #}
    <meta name="robots" content="noindex">

    {# Theme colour #}
    <meta name="theme-color" content="#4D2942">

    {# Windows tiles #}
    <meta name="msapplication-TileColor" content="#4D2942">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/tile-310x150.png' | url }}">
    <meta name="msapplication-square70x70logo" content="{{ '/assets/images/tile-70x70.png' | url }}">
    <meta name="msapplication-square150x150logo" content="{{ '/assets/images/tile-150x150.png' | url }}">
    <meta name="msapplication-wide310x150logo" content="{{ '/assets/images/tile-310x150.png' | url }}">
    <meta name="msapplication-square310x310logo" content="{{ '/assets/images/tile-310x310.png' | url }}">

    {# iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ meta.serviceName }}">

    {# Apple touch icon #}
    <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | url }}">

    {# Mask icon #}
    <link rel="mask-icon" href="{{ '/assets/images/mask-icon.svg' | url }}" color="#4D2942">

    {# Fav icon #}
    <link rel="icon" href="{{ '/assets/images/favicon.png' | url }}">

    {# Opengraph #}
    <meta property="og:image" content="{{ '/assets/images/opengraph.png' | url }}">

    {# Stylesheet #}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

  </head>

  <body>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <form method="POST">

      {% set html %}
        <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use the service and make improvements.</p>
      {% endset %}
    
      {% set acceptHtml %}
        <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
      {% endset %}

      {% set rejectedHtml %}
        <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
      {% endset %}

      {{ component('cookie-banner', {
        ariaLabel: "Cookies on the Defence Service Manual",
        messages: [
          {
            headingText: "Cookies on the Defence Service Manual",
            html: html,
            actions: [
              {
                classes: "js-cookie-banner-accept",
                text: "Accept analytics cookies",
                type: "submit",
                name: "cookies",
                value: "accept"
              },
              {
                classes: "js-cookie-banner-reject",
                text: "Reject analytics cookies",
                type: "submit",
                name: "cookies",
                value: "reject"
              },
              {
                classes: "govuk-link--no-visited-state",
                text: "View cookies",
                href: '/cookies/' | url
              }
            ]
          },
          {
            html: acceptHtml,
            actions: [
              {
                text: "Hide cookie message",
                href: "#0",
                type: "button"
              }
            ],
            hidden: true
          },
          {
            html: rejectedHtml,
            actions: [
              {
                text: "Hide cookie message",
                href: "#0",
                type: "button"
              }
            ],
            hidden: true
          }
        ]
      }) }}

    </form>

    {% include "header.njk" ignore missing %}
    {% include "phase-banner.njk" ignore missing %}

    <main class="content" id="content">
      {% block body %}{% endblock %}
    </main>

    {% include "feedback.njk" ignore missing %}
    {% include "footer.njk" ignore missing %}

    <script src="{{ '/assets/scripts/scripts.js' | url }}"></script>
    <script src="{{ '/assets/scripts/all.js' | url }}"></script>

    <script>window.GOVUKFrontend.initAll()</script>

    {# Google analytics #}
    {# <script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga"); kk=function(){ cookieContent = getCookie("mod_digital_standards_cookies_policy"); if (typeof cookieContent !== "undefined" ) { ccObj = JSON.parse(cookieContent); if (!!ccObj && ccObj.analytics) { return "standards.digital.mod.uk"; }}; return {storage:"none"};}; ga("create","UA-213496264-3",kk());ga("send","pageview");cookie_consent();</script> #}

    {% block pageScripts %}{% endblock %}

  </body>
</html>
