{% extends "layouts/base.njk" %}

{% block body %}

<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Design and deliver great digital services in Defence</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">Helping you meet service standards and do your role in Defence</p>
      </div>

    </div>

  </div>

</div>

<div class="govuk-width-container">

  <div class="moduk-cards moduk-cards--no-top-border govuk-!-margin-top-7 govuk-!-margin-bottom-0">
      
    <h2 class="moduk-cards__heading govuk-heading-m govuk-visually-hidden">Topics</h2>    
      
    <ul class="moduk-cards__list">
      
      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state govuk-link moduk-cards__link" href="{{ '/standards-in-defence/' | url }}">Standards in Defence</a></h3> 
          <p class="govuk-body-s moduk-cards__description">Check the standards you should follow and why they are important for all digital services and products.</p>
        </div>
      </li>

      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/user-research/' | url }}">User research</a></h3> 
          <p class="govuk-body-s moduk-cards__description">How to do user research with military personnel, find participants across Defence and manage data correctly.</p>
        </div>
      </li>

      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/design/' | url }}">Design</a></h3> 
          <p class="govuk-body-s moduk-cards__description">Start with simple designs, name services well, use the right styles and design for safety.</p>
        </div>
      </li>

      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/security/' | url }}">Security classifications</a></h3> 
          <p class="govuk-body-s moduk-cards__description">Keep and share information securely, check how to use security classifications and label information.</p>
        </div>
      </li>

      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/accessibility/' | url }}">Accessibility</a></h3> 
          <p class="govuk-body-s moduk-cards__description">Follow best practice, meet the regulations and deliver services that can be used by anyone in Defence.</p>
        </div>
      </li>

      <li class="moduk-cards__list-item">
        <div class="moduk-cards__list-item-wrapper">
          <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/your-community/' | url }}">Your community</a></h3> 
          <p class="govuk-body-s moduk-cards__description">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
        </div>
      </li>

    </ul>  
      
  </div>

</div>

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <div class="moduk-card">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Take part in user research</h2>
        <p class="govuk-body-s">We do user research to check this service works for you. Find out <a class="govuk-link govuk-link--no-visited-state" href="{{ '/take-part-in-user-research/' | url }}">how to take part</a>.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="moduk-card">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Add or update content</h2>
        <p class="govuk-body-s">Anyone can suggest content for the Defence Service Manual. Find out <a class="govuk-link govuk-link--no-visited-state" href="{{ '/add-or-update-content/' | url }}">how to add or update content</a>.</p>
      </div>
    </div>

  </div>

</div>

{% endblock %}
