{% extends "layouts/base.njk" %}

{% block body %}

<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Design and deliver great digital services in Defence</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">Helping you meet service standards and do your role in Defence</p>
      </div>

    </div>

  </div>

</div>

<div class="moduk-standards">
  
  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Standards for services</h1>
        <p class="govuk-body">Check the standards you should follow and why they are important for all digital services.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="{{ '/standards-in-defence/' | url }}">Check the standards in Defence</a></p>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# How to do things in Defence #}
  <div class="moduk-cards moduk-cards--no-top-border govuk-!-margin-top-7 govuk-!-margin-bottom-0">

    <div class="moduk-cards__heading">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">How to do things in Defence</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">Use common approaches and tools.</p>
    </div>

    <div class="moduk-cards__content">

      <ul class="moduk-cards__list moduk-cards--no-top-border">

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/accessibility/' | url }}">Accessibility</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Follow best practice, meet the regulations and deliver services that can be used by anyone in Defence.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/ethics/' | url }}">Ethics</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Do the right thing when you meet with people across Defence and keep your team safe.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/tools/' | url }}">Tools</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Check which tools you can use in Defence, what others are using and how to ask for access.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/security-classifications/' | url }}">Security classifications</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Keep and share information securely, check how to use security classifications and label information.</p>
          </div>
        </li>

      </ul>  

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  {# Your role in Defence #}
  <div class="moduk-cards moduk-cards--no-top-border govuk-!-margin-top-7 govuk-!-margin-bottom-0">

    <div class="moduk-cards__heading">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Your role in Defence</h2>
      <p class="govuk-body">We are working on guidance for all roles in digital teams.</p>
    </div>

    <div class="moduk-cards__content">

      <ul class="moduk-cards__list moduk-cards--no-top-border">

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/design/' | url }}">Design</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Start with simple designs, name services well, use the right styles and design for safety.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/user-research/' | url }}">User research</a></h3> 
            <p class="govuk-body-s moduk-cards__description">How to do user research with military personnel, find participants across Defence and manage data correctly.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/your-community/' | url }}">Your community</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
          </div>
        </li>

      </ul>  

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  {# Get involved #}
  <div class="moduk-cards moduk-cards--no-top-border govuk-!-margin-top-7 govuk-!-margin-bottom-0">

    <div class="moduk-cards__heading">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Get involved</h2>
      <p class="govuk-body">Help improve the Defence Service Manual</p>
    </div>

    <div class="moduk-cards__content">

      <ul class="moduk-cards__list moduk-cards--no-top-border">

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/suggest-content/' | url }}">Suggest content</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Share guidance, tools and ways of working that could be used across Defence.</p>
          </div>
        </li>

        <li class="moduk-cards__list-item">
          <div class="moduk-cards__list-item-wrapper">
            <h3 class="moduk-cards__sub-heading govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state moduk-cards__link" href="{{ '/take-part-in-user-research/' | url }}">Take part in user research</a></h3> 
            <p class="govuk-body-s moduk-cards__description">Get involved with user research sessions, anyone in Defence can take part.</p>
          </div>
        </li>

      </ul>  

    </div>

  </div>


</div>

{% endblock %}
