{% extends "layouts/base.njk" %}

{% block body %}


<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence">Design and deliver great digital services in Defence</h1>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# How to do things in Defence #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="how-to-do-things-in-defence">How to do things in Defence</h2>
        <p class="govuk-body govuk-body--secondary">Use common approaches and tools.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/meet-the-standard/' | url }}">Meet the standard</a></h3>
        <p class="govuk-body-s">Check why the GOV.UK Service Standard is important for all digital services in Defence.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/accessibility/' | url }}">Accessibility</a></h3>
        <p class="govuk-body-s">Follow best practice, meet the regulations and deliver services that can be used by anyone in Defence.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/ethics/' | url }}">Ethics</a></h3>
        <p class="govuk-body-s">Do the right thing when you meet with people across Defence and keep your team safe.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/secure-by-design' | url }}">Secure by Design</a></h3>
        <p class="govuk-body-s">Make technology and services secure from the start and reduce cyber security risks to Defence.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/security-classifications/' | url }}">Security classifications</a></h3>
        <p class="govuk-body-s">Keep and share information securely, check how to use security classifications and label information.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/service-assessments/' | url }}">Service assessments</a></h3>
        <p class="govuk-body-s">How service assessments help your service, how to book one and what to expect.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">



  {# Your role in Defence #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="your-role-in-defence">Your role in Defence</h2>
        <p class="govuk-body govuk-body--secondary">We are working on guidance for all roles in digital teams.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/architecture/choosing-tools-for-defence' | url }}">Architecture</a></h3>
        <p class="govuk-body-s">Make sure the technology you choose is right for people in Defence and is sustainable.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/content/' | url }}">Content</a></h3>
        <p class="govuk-body-s">Check how we publish content, write for people in Defence and work with content designers.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/design/' | url }}">Design</a></h3>
        <p class="govuk-body-s">Start with simple designs, name services well, use the right styles and design for safety.</p>
      </div>

      </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/development/' | url }}">Engineering</a></h3>
        <p class="govuk-body-s">Use common ways to test your software and tell us what other technical guidance you need.</p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/user-research/' | url }}">User research</a></h3>
        <p class="govuk-body-s">How to find participants, store user research data and share your findings across Defence.</p>
      </div>

      {# <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/your-community/' | url }}">Your community</a></h3>
        <p class="govuk-body-s">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
      </div> #}

      </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Get involved #}
  <div class="govuk-!-padding-top-8">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Get involved</h2>
        <p class="govuk-body govuk-body--secondary">Share what you are doing and learn from other teams.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/your-community/' | url }}">Join communities</a></h3>
        <p class="govuk-body-s">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/suggest-content/' | url }}">Suggest content</a></h3>
        <p class="govuk-body-s">Add guidance and ways of working to the Defence Service Manual.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/take-part-in-user-research/' | url }}">Take part in user research</a></h3>
        <p class="govuk-body-s">Get involved with user research sessions. Anyone in Defence can take part.</p>
      </div>

    </div>

  </div>


</div>

{% endblock %}
