{% extends "layouts/base.njk" %}

{% set title          = 'Sorry, the service is unavailable' %}
{% set feedbackForm   = 'false' %}
{% set footerLinks    = 'false' %}
{% set phaseBanner    = 'false' %}
{% set cookiesBanner  = 'false' %}
{% set recaptcha      = 'false' %}
{% set scripts        = 'false' %}

{% block body %}

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        
        <div class="moduk-prose">
          {{ content | safe }}
        </div>

      </div>

    </div>

  </div>

</div>

{% endblock %}
