{% extends "landing.njk" %}

{% set pageTitle       = "Get in touch" %}
{% set pageDescription = "" %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}