{% extends "landing.njk" %}

{% set pageTitle       = "Get in touch" %}
{% set pageDescription = "" %}
{% set pageLead        = "If you have a question or suggestion, contact the Defence Service Manual team." %}

{% block bodyContent %}

# Get in touch

<p class="govuk-body-l">If you have a question or suggestion, contact the Defence Service Manual team.</p>

## Email

You can email the team at [service-manual@digital.mod.uk](mailto:service-manual@digital.mod.uk).

## Slack

If you are on MODNet or have a digital MOD email address, you can [message the team on Defence Digital Slack](https://defencedigital.slack.com/archives/C03L6486PBN).

## Suggest content

If you have content that could go in the manual or updates to existing content, check [how to add or update content](/add-or-update-content).

{% endblock %}