{% extends "guidance.njk" %}

{% set pageTitle       = "Keep military personnel safe" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

Defence services and products can be used in combat situations. Good design keeps people safe by being reliable in dangerous or stressful environments.

Legally, the Ministry of Defence has to provide safe equipment, systems and services.

## Consider safety from the start

You must:

- assess how possible service failures could impact your users
- consider ways to reduce these risks

## Test in a real or simulated environment

It’s best to test your product or service with real users in the place that they use it.

If this isn’t possible, you can also test in:

- a lab simulating the real environment
- a similar environment, such as a training ground

### Talk to people who work in that environment

You may not be able to simulate some environments accurately, such as combat zones.

Collaborating with people who have experience in those environments can help.

They can:

- use their experience to identify common safety issues
- describe their environment and any restrictions

## Use feedback to make your service safer

Defence users need to report safety issues as soon as possible. Acting on this feedback quickly keeps people safe.

For example: if your service will be used in combat zones at night, but does not work in low light, that will put users in danger.

### Design a feedback process that works for your users

To send feedback, Defence users may need:

- permission from their commanding officer
- a process that works in a combat environment, where they may have little internet access

As part of feedback processes, make sure users can report any concerns about the safety of your product or service.

### Prioritise feedback based on risk

When you get feedback, make sure high risk problems and safety issues are easy to identify. This will help you respond to them quickly.

For example: if you collect feedback using an online form, let users select the level of risk associated with the problem.

{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#consider-safety-from-the-start",
        text: "Consider safety from the start"
      },
      {
        href: "#test-in-a-real-or-simulated-environment",
        text: "Test in a real or simulated environment"
      },
      {
        href: "#test-in-a-real-or-simulated-environment",
        text: "Use feedback to make your service safer"
      }
    ]
  }) }}

{% endblock %}