{% set pageTitle       = "Keep military personnel safe" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "design/keep-military-personnel-safe/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#consider-safety-from-the-start",
        text: "Consider safety from the start"
      },
      {
        href: "#test-in-a-real-or-simulated-environment",
        text: "Test in a real or simulated environment"
      },
      {
        href: "#test-in-a-real-or-simulated-environment",
        text: "Use feedback to make your service safer"
      }
    ]
  }) }}

{% endblock %}