{% set pageDescription = "Helping you meet service standards and do your role in Defence." %}
{% set pageLayout = "Homepage" %}

{% extends "base.njk" %}

{% block outerBody %}

{# MoD hero #}
<div class="mod-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Deliver great services in Defence</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">Helping you meet service standards and do your role in Defence</p>
      </div>

    </div>

  </div>

</div>

{# MoD topics #}
<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk-!-margin-bottom-6">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/standards-in-defence">Standards in Defence</a></h2>
        <p class="govuk-body-s">Check the standards you should follow and why they are important for all digital services and products.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk-!-margin-bottom-6">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/user-research">User research</a></h2>
        <p class="govuk-body-s">How to do user research with service personnel, find participants across Defence and store data securely.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-8 govuk-!-margin-bottom-6">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/design">Design</a></h2>
        <p class="govuk-body-s">Find out what good looks like in Defence, name things well and use patterns that have been tested.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/development">Development</a></h2>
        <p class="govuk-body-s">Be secure, check what technology is available and learn how other teams are doing things.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/accessibility">Accessibility</a></h2>
        <p class="govuk-body-s">Follow best practice, meet the regulations and deliver services that can be used by anyone in Defence.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
      <div class="mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/your-community">Your community</a></h2>
        <p class="govuk-body-s">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
      </div>
    </div>

  </div>

</div>

{# MoD Contributions #}
<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <div class="govuk-card mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Take part in user research</h2>
        <p>This is a new service. We run user research sessions to check the Defence Service Manual works for you. If you’d like to take part, <a href="#0">email the team</a>.</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-card mod-prose">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Suggest content</h2>
        <p>Anyone can suggest content for the Defence Service Manual. You can send content that you have or we can help you write it. <a href="/add-or-update-content">Find out how to add content</a>.</p>
      </div>
    </div>

  </div>

</div>

{% endblock %}