{% extends "layouts/landing.njk" %}

{% set pageTitle       = "User research" %}
{% set pageLead        = "How to do user research with service personnel, find participants across Defence and store date securely." %}
{% set pageDescription = "How to do user research with service personnel, find participants across Defence and store date securely." %}
{% set sectionId       = "User research" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Doing research with service personnel</h2>
  <p>The Armed Forces, or service personnel, are the end users for most of the digital services we build. They use our services to operate effectively and remove administrative friction.</p>

  <ul class="govuk-list">
    <li><a href="/user-research/understanding-defence-users">Understanding defence users</a></li>
    <li><a href="/user-research/research-with-military-ranks">Research with military ranks</a></li>
    <li><a href="/user-research/digital-inclusion-in-defence">Digital inclusion in defence</a></li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Find research participants</h2>
  <p>Participants are the people who take part in user research. For research to be effective, participants must be actual or likely users of the service.</p>

  <ul class="govuk-list">
    <li><a href="/user-research/recruit-internal-participants">Recruit internal participants</a></li>
    <li><a href="/user-research/recruit-users-across-defence">Recruit users across defence</a></li>
    <li><a href="/user-research/research-with-disabled-users">Research with disabled users</a></li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Collecting data from participants</h2>
  <p>We must collect data in a legal and transparent way. We need to clearly explain to participants what we will use data for and use it for no other purposes.</p>

  <ul class="govuk-list">
    <li><a href="/user-research/meet-the-regulations">Meet the regulations</a></li>
    <li><a href="/user-research/get-informed-concent">Get informed consent</a></li>
    <li><a href="/user-research/sensitive-data">Sensitive data</a></li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Storing and sharing data</h2>
  <p>We need to store all data collected from users so that anyone in MOD can find it easily. Legally, we must store data securely and regularly delete old data.</p>

  <ul class="govuk-list">
    <li><a href="/user-research/how-to-keep-research-data">How to keep research data</a></li>
    <li><a href="/user-research/anonymise-research-data">Anonymise research data</a></li>
    <li><a href="/user-research/share-research-data-securely">Share research data securely</a></li>
  </ul>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="useful-links">Useful links</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="useful-links">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#1">Link one</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#2">Link two</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#3">Link three</a></li>
    </ul>
  </nav>

</div>

{% endblock %}