{% extends "landing.njk" %}

{% set pageTitle       = "User research" %}
{% set pageDescription = "How to do user research with service personnel, find participants across Defence and store date securely." %}
{% set pageLead        = "" %}
{% set sectionTitle    = "User research" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}user-research/understanding-military-personnel">Understanding military personnel</a></h2>
  <ul>
    <li>Defence users are diverse</li>
    <li>User research and military rank</li>
    <li>Help with acronyms</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}user-research/find-user-research-participants-across-defence">Find user research participants across Defence</a></h2>
  <ul>
    <li>Start with stakeholders and subject matter experts</li>
    <li>Use MOD networks</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}user-research/collecting-data-from-participants">Collecting data from participants</a></h2>
  <ul>
    <li>Meet the regulations</li>
    <li>Get informed consent</li>
    <li>Protect sensitive data</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}user-research/save-and-store-user-research-data">Save and store user research data</a></h2>
  <ul>
    <li>Keep your promises to participants</li>
    <li>How to save user research data in Defence</li>
    <li>Anonymise user research data</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}user-research/share-user-research-findings-correctly">Share user research findings correctly</a></h2>
  <ul>
    <li>Protect participants’ data and identities</li>
    <li>Share findings with the Defence community</li>
  </ul>

</div>

{% endblock %}
