{% extends "landing.njk" %}

{% set pageTitle       = "User research" %}
{% set pageDescription = "How to do user research with service personnel, find participants across Defence and store date securely." %}
{% set pageLead        = "" %}
{% set sectionTitle    = "User research" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/user-research/understanding-military-personnel">Understanding military personnel</a></h2>
  <p>Explore the diversity of Defence users, the influence of military rank and get help with acronyms.</p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/user-research/how-to-find-user-research-participants-across-defence">How to find user research participants across Defence</a></h2>
  <p>Explore tools and methods for finding participants, recruiting specific users and conducting anonymous research for sensitive topics.</p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/user-research/collecting-data-from-participants">Collecting data from participants</a></h2>
  <p>Find out how to meet GDPR regulations, get informed consent and what to do about sensitive data.</p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/user-research/storing-and-sharing-data">Storing and sharing data</a></h2>
  <p>Find out how to keep, anonymise and share research data securely.</p>

</div>

{% endblock %}

{% block relatedContent %}

<div class="gem-c-related-navigation govuk-!-margin-top-1">

  <h2 class="gem-c-related-navigation__main-heading" id="related-content">Related content</h2>

  <nav class="gem-c-related-navigation__nav-section" role="navigation" aria-labelledby="related-content">
    <ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#1">Link one</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#2">Link two</a></li>
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link--no-visited-state gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="#3">Link three</a></li>
    </ul>
  </nav>

</div>

{% endblock %}