{% extends "guidance.njk" %}

{% set pageTitle       = "Share user research findings correctly" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#protect-participants-data-and-identities",
        text: "Protect participants’ data and identities"
      },
      {
        href: "#share-findings-with-the-defence-community",
        text: "Share findings with the Defence community"
      },
      {
        href: "#related-links",
        text: "Related links"
      }
    ]
  }) }}

{% endblock %}