<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Defence Service Manual",
        href: "/"
      },
      {
        text: "Accessibility",
        href: "/accessibility"
      },
      {
        text: "Accessibility in Defence",
        href: "/accessibility/accessibility-in-defence"
      }
    ]
  }) }}
</div>