{% extends "landing.njk" %}

{% set pageTitle       = "Site map" %}
{% set pageDescription = "A list of pages on this website" %}

{% block bodyContent %}

<div class="mod-prose">

  <p>Find your way around this website.</p>

  <ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/standards-in-defence"><b>Standards in Defence</b></a></li>
    <li>
      <a href="/accessibility"><b>Accessibility</b></a>
      <ul>
        <li><a href="/accessibility/understand-the-environment">Understand the environment</a></li>
        <li><a href="/accessibility/meet-the-regulations">Meet the regulations</a></li>
        <li>
          <a href="/accessibility/your-role-in-accessibility">Your role in accessibility</a>
          <ul>
            <li><a href="/accessibility/your-role-in-accessibility/content-designers">Content Designers</a></li>
            <li><a href="/accessibility/your-role-in-accessibility/delivery-managers">Delivery Managers</a></li>
            <li><a href="/accessibility/your-role-in-accessibility/interaction-designers">Interaction Designers</a></li>
            <li><a href="/accessibility/your-role-in-accessibility/product-managers">Product Managers</a></li>
            <li><a href="/accessibility/your-role-in-accessibility/user-researchers">User Researchers</a></li>
          </ul>
        </li>
        <li><a href="/accessibility/create-an-accessibility-statement">Create an accessibility statement</a></li>
        <li><a href="/accessibility/publish-accessible-documents">Publish accessible documents</a></li>
      </ul>
    </li>
    <li>
      <a href="/user-research"><b>User research</b></a>
      <ul>
        <li><a href="/user-research/understanding-defence-users">Understanding Defence users</a></li>
        <li><a href="/user-research/research-with-military-ranks">Research with military ranks</a></li>
        <li><a href="/user-research/digital-inclusion-in-defence">Digital inclusion in Defence</a></li>
        <li><a href="/user-research/recruit-internal-participants">Recruit internal participants</a></li>
        <li><a href="/user-research/recruit-users-across-defence">Recruit users across Defence</a></li>
        <li><a href="/user-research/research-with-disabled-users">Research with disabled users</a></li>
        <li><a href="/user-research/meet-the-regulations">Meet the regulations</a></li>
        <li><a href="/user-research/get-informed-concent">Get informed consent</a></li>
        <li><a href="/user-research/sensitive-data">Sensitive data</a></li>
        <li><a href="/user-research/how-to-keep-research-data">How to keep research data</a></li>
        <li><a href="/user-research/anonymise-research-data">Anonymise research data</a></li>
        <li><a href="/user-research/share-research-data-securely">Share research data securely</a></li>
      </ul>
    </li>
    <li>
      <a href="/design"><b>Design</b></a>
      <ul>
        <li><a href="/design/how-to-classify-information">How to classify information</a></li>
      </ul>
    </li>
    <li><a href="/development"><b>Development</b></a></li>
    <li>
      <a href="/your-community"><b>Your community</b></a>
      <ul>
        <li><a href="/your-community/product-and-delivery">Product and delivery</a></li>
        <li><a href="/your-community/user-centred-design">User-centred design</a></li>
      </ul>
    </li>
    <li>
      <a href="/add-or-update-content"><b>Add or update content</b></a>
      <ul>
        <li><a href="/add-or-update-content/what-we-publish">What we publish</a></li>
        <li><a href="/add-or-update-content/suggest-content">Suggest content</a></li>
        <li><a href="/add-or-update-content/get-content-updated">Get content updated</a></li>
        <li><a href="/add-or-update-content/writing-for-the-manual">Writing for the manual</a></li>
      </ul>
    </li>
    <li><a href="/get-in-touch"><b>Get in touch</b></a></li>
  </ul>

</ul>

{% endblock %}