{% extends "landing.njk" %}

{% set pageTitle       = "Site map" %}
{% set pageDescription = "A list of pages on this website" %}

{% block bodyContent %}

<div class="mod-pros">

  <p class="govuk-body">Find your way around this website.</p>

  <ul class="mod-sitemap">
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/standards-in-defence"><b>Standards in Defence</b></a></li>
    <li>
      <a href="/accessibility"><b>Accessibility</b></a>
      <ul>
        <li>
          <a href="/accessibility/accessibility-in-defence">Accessibility in Defence</a>
          <ul>
            <li><a href="/accessibility/accessibility-in-defence/content-designers">Content Designers</a></li>
            <li><a href="/accessibility/accessibility-in-defence/delivery-managers">Delivery Managers</a></li>
            <li><a href="/accessibility/accessibility-in-defence/interaction-designers">Interaction Designers</a></li>
            <li><a href="/accessibility/accessibility-in-defence/product-managers">Product Managers</a></li>
            <li><a href="/accessibility/accessibility-in-defence/user-researchers">User Researchers</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="/user-research"><b>User research</b></a>
      <ul>
        <li><a href="/user-research/understanding-military-personnel">Understanding military personnel</a></li>
        <li><a href="/user-research/how-to-find-user-research-participants-across-defence">How to find user research participants across Defence</a></li>
        <li><a href="/user-research/collecting-data-from-participants">Collecting data from participants</a></li>
        <li><a href="/user-research/storing-and-sharing-data">Storing and sharing data</a></li>
      </ul>
    </li>
    <li>
      <a href="/design"><b>Design</b></a>
      <ul>
        <li><a href="/design/things-to-consider-in-defence">Things to consider in Defence</a></li>
        <li><a href="/design/designing-something-new">Designing something new</a></li>
      </ul>
    </li>
    <li><a href="/development"><b>Development</b></a></li>
    <li>
      <a href="/your-community"><b>Your community</b></a>
      <ul>
        <li><a href="/your-community/product-and-delivery">Product and delivery</a></li>
        <li><a href="/your-community/user-centred-design">User-centred design</a></li>
      </ul>
    </li>
    <li>
      <a href="/add-or-update-content"><b>Add or update content</b></a>
      <ul>
        <li><a href="/add-or-update-content/what-we-publish">What we publish</a></li>
        <li><a href="/add-or-update-content/suggest-content">Suggest content</a></li>
        <li><a href="/add-or-update-content/get-content-updated">Get content updated</a></li>
        <li><a href="/add-or-update-content/writing-for-the-manual">Writing for the manual</a></li>
      </ul>
    </li>
    <li><a href="/get-in-touch"><b>Get in touch</b></a></li>
  </ul>

</ul>

{% endblock %}