{% set pageTitle       = "Site map" %}
{% set pageDescription = "A list of pages on this website" %}

{% extends "includes/landing.njk" %}

{% block bodyContent %}

<h1>Site map</h1>

<p>Find your way around this website.</p>

<div class="moduk-sitemap">
  <ul>
    <li><a href="{{ baseURL }}">Home</a></li>
    <li><a href="{{ baseURL }}standards-in-defence">Standards in Defence</a></li>
    <li>
      <a href="{{ baseURL }}user-research">User research</a>
      <ul>
        <li><a href="{{ baseURL }}user-research/understanding-military-personnel">Understanding military personnel</a></li>
        <li><a href="{{ baseURL }}user-research/find-user-research-participants-across-defence">Find user research participants across Defence</a></li>
        <li><a href="{{ baseURL }}user-research/collecting-data-from-participants">Collecting data from participants</a></li>
        <li><a href="{{ baseURL }}user-research/save-and-store-user-research-data">Save and store user research data</a></li>
        <li><a href="{{ baseURL }}user-research/share-user-research-findings-correctly">Share user research findings correctly</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ baseURL }}design">Design</a>
      <ul>
        <li><a href="{{ baseURL }}design/start-with-simple-designs">Start with simple designs</a></li>
        <li><a href="{{ baseURL }}design/keep-military-personnel-safe">Keep military personnel safe</a></li>
        <li><a href="{{ baseURL }}design/naming-things-in-defence">Naming things in Defence</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ baseURL }}security">Security</a>
      <ul>
        <li><a href="{{ baseURL }}security/security-classifications">Security classifications</a></li>
        <li><a href="{{ baseURL }}security/how-to-label-information">How to label information</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ baseURL }}accessibility">Accessibility</a>
      <ul>
        <li><a href="{{ baseURL }}accessibility/understanding-defence-environments">Understaningd Defence environments</a></li>
        <li>
          <a href="{{ baseURL }}accessibility/meet-accessibility-regulations">Meet accessibility regulations</a>
          <ul>
            <li><a href="{{ baseURL }}accessibility/meet-accessibility-regulations/content-designers">Content Designers</a></li>
            <li><a href="{{ baseURL }}accessibility/meet-accessibility-regulations/delivery-managers">Delivery Managers</a></li>
            <li><a href="{{ baseURL }}accessibility/meet-accessibility-regulations/interaction-designers">Interaction Designers</a></li>
            <li><a href="{{ baseURL }}accessibility/meet-accessibility-regulations/product-managers">Product Managers</a></li>
            <li><a href="{{ baseURL }}accessibility/meet-accessibility-regulations/user-researchers">User Researchers</a></li>
          </ul>
        </li>
        <li><a href="{{ baseURL }}accessibility/publishing-statements-and-accessible-documents">Publishing statements and accessible documents</a></li>
      </ul>
    <li>
      <a href="{{ baseURL }}your-community">Your community</a>
      <ul>
        <li><a href="{{ baseURL }}your-community/product-and-delivery">Product and delivery</a></li>
        <li><a href="{{ baseURL }}your-community/user-centred-design">User-centred design</a></li>
      </ul>
    </li>
    <li><a href="{{ baseURL }}add-or-update-content">Add or update content</a></li>
    <li><a href="{{ baseURL }}get-in-touch">Get in touch</a></li>
  </ul>
</div>

{% endblock %}