{% extends "guidance.njk" %}

{% set pageTitle       = "User-centred design" %}
{% set pageDescription = "Anyone working on digital products or services in Defence is welcome to join the user-centred design (UCD) community." %}
{% set sectionId       = "Your community" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Anyone working on digital products or services in Defence is welcome to join the user-centred design (UCD) community. It is useful for:</p>
  
  <ul>
    <li>user researchers and data analysts</li>
    <li>service designers and product designers</li>
    <li>interaction and graphic designers</li>
    <li>content designers, managers and strategists</li>
    <li>product managers and business analysts working with users</li>
  </ul>

  <h2 id="get-involved">Get involved</h2>

  <p>There are a few easy ways to be part of the UCD community.</p>
  
  <h3>Slack channels</h3>

  <p>Using your digital MOD email address, go to defencedigital.slack.com and join the #ucd channel. This is the place to ask quick questions about designing or writing for people in Defence.</p>

  <p>You might like to get involved with conversations across government. Using your digital MOD email address, go to ukgovernmentdigital.slack.com. Browse and join channels for content, design and user research.</p>
  
  <h3>Meetings</h3>

  <p>Join the UCD community calls held every 2 weeks on alternate Tuesdays and Thursdays.</p>

  <p>Calls are 45 minutes. We discuss things like accessibility, tools available in Defence and cross-government collaboration.</p>

  <p>To join, send an email to: <a href="mailto:ucd@digital.mod.uk">ucd@digital.mod.uk</a>.</p>

  {{ govukInsetText({
    html: 'You must only share and discuss OFFICIAL data. <a href="#0">Find out about data classifications</a>.'
  }) }}

  <p>We work under <a href="https://www.chathamhouse.org/about-us/chatham-house-rule?gclid=CjwKCAjwkYGVBhArEiwA4sZLuK5u_XCJRH7ClZyiXlhtQLMleAKX6CZ3Ka8cuQ1hr70AfK95tVehOhoCP5wQAvD_BwE" rel="external nofollow">the Chatham House Rule</a>, creating a safe space for you to share your work and any challenges.</p>

  <h2 id="useful-links">Useful links</h2>

  <ul class="govuk-list">
    <li><a href="#0">User research in the Defence Service Manual</a></li>
    <li><a href="https://defencedigital.blog.gov.uk/2021/02/22/user-research-in-defence/" rel="external nofollow">User research in Defence blog</a></li>
    <li><a href="https://defencedigital.blog.gov.uk/2021/03/12/the-application-of-user-research-in-defence/" rel="external nofollow">The application of user research in Defence blog</a></li>
    <li><a href="https://www.gov.uk/service-manual/design" rel="external nofollow">Design in the GOV.UK service manual</a></li>
  </ul>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#get-involved",
        text: "Get involved"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}