{% extends "guidance.njk" %}

{% set pageTitle       = "User-centred design" %}
{% set pageDescription = "Anyone working on digital products or services in Defence is welcome to join the user-centred design (UCD) community." %}
{% set sectionTitle    = "Your community" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

Anyone working on digital products or services in Defence is welcome to join the user-centred design (UCD) community. It is useful for:
  
- user researchers and data analysts
- service designers and product designers
- interaction and graphic designers
- content designers, managers and strategists
- product managers and business analysts working with users

## Get involved

There are a few easy ways to be part of the UCD community.

### Slack channels

Using your digital MOD email address, go to defencedigital.slack.com and join the #ucd channel. This is the place to ask quick questions about designing or writing for people in Defence.

You might like to get involved with conversations across government. Using your digital MOD email address, go to ukgovernmentdigital.slack.com. Browse and join channels for content, design and user research.

### Meetings

Join the UCD community calls held every 2 weeks on alternate Tuesdays and Thursdays.

Calls are 45 minutes. We discuss things like accessibility, tools available in Defence and cross-government collaboration.

To join, send an email to: [ucd@digital.mod.uk](mailto:ucd@digital.mod.uk).

{{ govukInsetText({
  html: 'You must only share and discuss OFFICIAL data. <a href="#0">Find out about data classifications</a>.'
}) }}

We work under [the Chatham House Rule](https://www.chathamhouse.org/about-us/chatham-house-rule?gclid=CjwKCAjwkYGVBhArEiwA4sZLuK5u_XCJRH7ClZyiXlhtQLMleAKX6CZ3Ka8cuQ1hr70AfK95tVehOhoCP5wQAvD_BwE), creating a safe space for you to share your work and any challenges.

## Useful links

- [User research in the Defence Service Manual](/user-research)
- [User research in Defence blog](https://defencedigital.blog.gov.uk/2021/02/22/user-research-in-defence)
- [The application of user research in Defence blog](https://defencedigital.blog.gov.uk/2021/03/12/the-application-of-user-research-in-defence)
- [Design in the GOV.UK service manual](https://www.gov.uk/service-manual/design)

{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#get-involved",
        text: "Get involved"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}