{% extends "guidance.njk" %}

{% set pageTitle       = "User-centred design" %}
{% set pageDescription = "Anyone working on digital products or services in Defence is welcome to join the user-centred design (UCD) community." %}
{% set sectionTitle    = "Your community" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#get-involved",
        text: "Get involved"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}