{% extends "guidance.njk" %}

{% set pageTitle       = "Anonymise research data" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Always anonymise personal identifiable data when storing your research records. This includes things like a person’s name or address. Refer to the participant by code instead.</p>

  <p>If needed, create a separate document which matches the codes to the personal identifiable data. The document must be password protected and only shared with colleagues if necessary.</p>

  <p>You should retain this information for no longer than 2 years.</p>

  <h2 id="video-recordings-and-transcripts">Video recordings and transcripts</h2>

  <p>Anonymising video recordings is time consuming and can be ineffective. Consider whether you really need to store a video or screen recording of a user before your session.</p>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#video-recordings-and-transcripts",
        text: "Video recordings and transcripts"
      }
    ]
  }) }}

{% endblock %}