{% extends "layouts/guidance.njk" %}

{% set description = "Check how to keep your technolgy or service secure, including regular assessments and responding to changes." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Continuously manage risk</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#know-what-is-happening">Know what is happening</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#respond-to-changes">Respond to changes</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#do-regular-assessments">Do regular assessments</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#retire-components-securely">Retire components securely</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">

          <p style="color:green">Ready for review. Fact check what we have and describe what is missing.</p> 

            <p>Your team needs to monitor and respond to security risks, from the design of your technology or service to its retirement.</p>

            <h2 id="know-what-is-happening">Know what is happening</h2>

            <p>You need to be aware of emerging cyber security threats and changes across Defence. You can:</p>

            <ul>
              <li>[add activity]</li>
              <li>[add activity]</li>
              <li>[add activity]</li>
            </ul>

            <p>Read <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/managing-observability" target="_blank">GOV.UK guidance on managing observability<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>

            <h2 id="respond-to-changes">Respond to changes</h2>

            <p>When you make changes or discover a new threat, you need to:</p>

            <ul>
              <li>assess the impact</li>
              <li>check your controls are still appropriate</li>
              <li>update your risk management strategy</li>
            </ul>

            <p>The risk management framework you choose will show you how to monitor and respond to changes.</p>

            <p>For example, the National Institute of Standards and Technology's (NIST) cybersecurity framework includes guidance on incident management, reporting and communication.</p>

          <ul class="govuk-list"> 
           <li>Check <a href="/secure-by-design/follow-a-framework">how to choose a risk management framework</a>.</li>
           <li>Read <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/evaluating-the-security-impact-of-changes" target="_blank">GOV.UK guidance on assessing the impact of changes<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
          </ul>

          <h2 id="do-regular-assessments">Do regular assessments</h2>

          <p>To be Secure by Design, you need to do regular security risk assessments. Most services in Defence do risk assessments every 3 months.</p>

            {{ component('inset-text', {
            text: 'You must do a risk assessment when you make changes or discover new threats.'
            }) }}

          <p>Make sure you track and complete all of the actions you identify in assessments.</p>
          
          <p>Check <a href="/secure-by-design/do-regular-risk-assessments">how to do risk assessments in Defence</a>.</p>

          <h2 id="retire-components-securely">Retire components securely</h2>

          <p>You should only use systems and components that are necessary for your technology or service.</p>

          <p>When you retire systems or components that are no longer used, you need to do it securely. For example, you might need to delete sensitive data, remove access rights or shut down a domain.</p>

          <p>Read <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/retiring-service-components-securely" target="_blank">GOV.UK guidance on retiring components<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>

          <p>[Add the Next pattern here]</p>
            
            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published July 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
