{% extends "layouts/guidance.njk" %}

{% set description = "" %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Do regular risk assessments</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#when-you-need-to-do-assessments">What you need to do assessments</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#what-you-need-to-cover">What you need to cover</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#use-the-self-assessment-tool">Use the self assessment tool</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#put-your-controls-in-place">Share your assessments</a>
              </li>                 
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">

          <p style="color:green">Ready for review. Fact check what we have and describe what is missing.</p> 
          
            <p>To keep your technology or service secure, you need to do regular security risk assessments.</p> 
            
            <h2 id="when-you-need-to-do-assessments">When you need to do assessments</h2>

            <p>How often you do assessments depends on your technology or service, but you need to do one at least every 3 months.</p>

            <p>You must also do a risk assessment when you make changes or discover new threats.</p>

            <h2 id="reflect-your-context-and-risk-appetite">What you need to cover</h2>

            <p>Your assessments need to cover all of the systems and components you use, including external ones.</p>

            <p>Make sure your assessments include:</p>

            <ul>
              <li>a review of your technology or service against your risk appetite</li>
              <li>any implications of sharing your technology or service with foreign nations</li>
              <li>an action plan with named owners and dates for completion or review</li>
              <li>details of risks that need to be tracked or escalated</li>
            </ul>

            <p>Get your team involved in doing assessments. It is important for the team to provide an accurate reflection of your security status, even if it is less than ideal.</p>

            <p>Use your regular assessments to help you prioritise cyber security activities. </p>

            <p>Check <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/performing-a-security-risk-assessment" target="_blank">GOV.UK guidance on risk assessments.<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>

            <h2 id="use-the-self-assessment-tool">Use the assurance tracker</h2>

            <p>Use the Cyber Activity and Assurance Tracker (CAAT) to do your regular risk assessments.</p>

            <p>CAAT helps you meet Secure by Design standards in Defence. You will be asked questions about how you:</p>
            
            <p>You will be asked questions about how you:</p>

            <ul>
              <li>identify risks</li>
              <li>protect systems and information</li>
              <li>detect incidents</li>
              <li>respond to incidents</li>
              <li>recover</li>
            </ul>

            <p>Your assessment is sent to assessors in your organisation and the Cyber Security Assurance and Advisory Service (CySAAS).</p>

            {{ component('inset-text', {
            text: 'You do not get a pass or fail. An assessor will only contact you if they consider something is high risk.'
            }) }}

            <p>On MODNET, you can <a href="">start using CAAT</a>.</p>

            <h2 id="register-your-project">Register your project</h2>

            <p>You need to register your technology or service on CAAT. You need to provide information on:</p>

            <ul>
              <li>your sponsors</li>
              <li>the scope of your project</li>
              <li>what stage your project is at</li>
              <li>the classification of information you handle</li>
            </ul>
            
            <p>You need to update this information as your technology or service develops.</p>

            <h2 id="link-to-supporting-documents">Link to supporting documents</h2>

            <p>In the CAAT, you can add links to documents that show you are continually managing risks.</p>
            
            <p>For example, link to sections in your:</p>
            
            <ul>
              <li>cyber risk management strategy</li>
              <li>risk register with actions from previous assessments</li>
              <li>penetration (pen) test reports </li>
              <li>incident management plan</li>
            </ul>
            
            <h2 id="share-your-assessment-reports">Share your assessment reports</h2>

            <p>Ask your Senior Responsible Owner (SRO) to review your assessment reports. They need to approve reports before you can share them.</p>

            <p>Every time you do an assessment, share the approved report with internal and authorised stakeholders. This includes programme boards and suppliers.</p>

            <p>Make sure you classify assessment reports correctly. Find out <a href="https://servicemanual.digital.mod.uk/security-classifications/how-to-classify-information/">how to classify information</a>.</p>

            <br><br>

            <p>[Add the Next pattern here]</p>

            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published July 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
