{% extends "layouts/guidance.njk" %}

{% set description = "" %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Follow a framework</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#choose-a-framework">Choose a framework</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#evidence-your-decisions">Evidence your decisions</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#put-your-controls-in-place">Put your controls in place</a>
              </li>                 
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">

          <p style="color:green">Ready for review. Fact check what we have and describe what is missing.</p> 
          
            <p>Use a risk management framework to help you monitor and manage your security risks.</p>

            <h2 id="reflect-your-context-and-risk-appetite">Choose a framework</h2>

            <p>Use a a risk management framework that fits your project best. You can adapt a framework to your delivery approach and ways of working. You might need to show why you have chosen a particular framework.</p>

            <p>In the Ministry of Defence, Secure by Design is based on the risk management framework from the United States' National Institute of Standards and Technology (NIST).</p>

            <p>If you are following a different framework, you do not need to move to NIST.</p>

            <ul class="govuk-list"> 
            <li>Find out <a href="https://csrc.nist.gov/projects/risk-management" target="_blank">more about the NIST framework<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
            <li>Check <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/agreeing-a-security-controls-set-for-your-service#step-2-research-and-shortlist-relevant-security-control-frameworks" target="_blank">frameworks listed on GOV.UK<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
            </ul>
      
            <h2 id="reflect-your-context-and-risk-appetite">Evidence your decisions</h2>

            <p>Whichever framework you use, you need to show that you are continuously managing security risks.</p>

            <p>You need evidence that you:</p>

            <ul>
              <li>identify and track security risks</li>
              <li>regularly review the design of your technology or service</li>
              <li>have appropriate controls in place</li>
            </ul>

            <p>You need to link to evidence as part of your regular risk assessments. </p>

            <p>Check <a href="">how to do risk assessments</a>.</p>
            
            <h2 id="put-your-controls-in-place">Put your controls in place</h2>

            <p>After agreeing your controls, your team is responsible for setting up and monitoring them. Consider setting up an alert to regularly review your controls.</p>
            
            <p>Your Senior Responsible Owner (SRO) is accountable for controls being in place and working.</p>
            
            {{ component('inset-text', {
            text: 'You must review your controls when you make major changes or new threats are reported.'
            }) }}
           
            <p>Check <a href="">how to agree your controls</a>.</p>

            <br>

            <ul class="govuk-list"> 
            <li><b>Next</b></li>
            <li><a href="/secure-by-design/do-regular-assessments/">Do regular assessments</a></li>
            </ul>
            

            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published July 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
