{% extends "layouts/guidance.njk" %}

{% set description = "Agree your approach in Defence, identify your cyber security needs and get your team ready." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Get the basics right</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#involve-the-right-people">Involve the right people</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#agree-your-strategy">Agree your strategy</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#plan-to-continually-manage-risk">Plan to continually manage risk</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#register-your-project">Register your project</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">

          <p style="color:red">Draft content to run through in a call.</p> 
          
            <p>Check you have the people and processes in place to be Secure by Design.</p>

            <h2 id="involve-the-right-people">Involve the right people</h2>

            <p>Your team is responsible for making and keeping your technology or service secure. You need people with cyber security experience that is appropriate to your project.</p>
            
            <p>For example [add an example here].</p>

            <p>You might need to use resources from outside your team. [How do teams go about doing this?].</p>
         
            <h3>Agree who does what</h3>

            <p>You need to agree who is responsible and accountable for Secure by Design activities.</p>
            
            <p>For example, a developer is responsible for [xxx xx xxx xxx]. Your delivery lead is accountable for making sure it happens. </p>

            <p>Check <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/agreeing-roles-and-responsibilities" target="_blank">GOV.UK guidance on roles and responsibilities<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</p>
            
            <p>The GOV.UK guidance includes a template you can use.</p>

            <h3>Appoint a Senior Responsible Owner</h3>

            <p>If you do not have a Senior Responsible Officer (SRO), someone in your team needs to take on the role. </p>
            
            <p>Your SRO needs to be someone with authority and experience in risk management, for example a product or service owner. If you do not have someone suitable, your project sponsor can be your SRO.</p>

             <h2 id="agree-your-strategy">Agree your strategy</h2>

            <p>To help you plan your approach to Secure by Design, create a cyber risk management strategy.</p>

            <p>Your strategy should include:</p>

            <ul>
              <li>how much risk is acceptable for your technology or service</li>
              <li>managing cyber security risks throughout the life of the project</li>
              <li>adding cyber security to existing governance</li>
              <li>considerations for stakeholders, including suppliers </li>
              <li>how you will monitor and share cyber security threats</li>
            </ul>

            <h3>Set your risk appetite</h3>

            <p>You need to define and publish how much risk is acceptable to your technology or service. For example [add an example here, possibly about personal data].</p>
            <p>Many top level budgets have risk appetite statements. Check the risk appetite statement for your organisation. Your project's risk appetite will need to follow it.</p>
            
            {{ component('inset-text', {
            text: 'You must review your risk appetite when you make major changes or new threats are reported.'
            }) }}

            <ul class="govuk-list"> 
            <li>Check <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/working-out-the-projects-security-risk-appetite" target="_blank">GOV.UK guidance on setting your risk appetite<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
            <li>Read the <a href="https://www.ncsc.gov.uk/blog-post/a-two-part-blog-about-risk-appetites" target="_blank">National Cyber Security Centre’s blog post on risk appetites<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
            </ul>

            <h3>Set your risk appetite</h3>

            <p>Share your strategy with internal and authorised stakeholders, including programme boards and suppliers.</p>
            
            <p>Classify your strategy correctly, for example [security classification]. </p>
            
            <ul class="govuk-list"> 
            <li>You can <a href="" target="_blank">check an example cyber risk management strategy<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
            <li>Find out <a href="https://servicemanual.digital.mod.uk/security-classifications/how-to-classify-information/">how to classify information</a>.</li>
            </ul>
            
            <h2 id="plan-to-continually-manage-risk">Plan to continually manage risk</h2>

            <p>You need to think about how you will manage cyber risk throughout the life of your project. This includes:</p>

            <ul>
              <li>in design and development</li>
              <li>when major changes are released</li>
              <li>retiring components securely</li>
            </ul>

            <h3>What you need to do</h3>

            <p>Make cyber security part of your existing activities and meetings. For example, you need to:</p>

            <ul>
              <li>put cyber security on the agenda for all programme board meetings</li>
              <li>publish your progress towards security milestones</li>
              <li>share what you are doing in show and tells</li>
              <li>keep your Senior Responsible Officer (SRO) updated</li>
            </ul>

          <ul class="govuk-list"> 
           <li>Check <a href="">how to manage your cyber security risks</a>.</li>
           <li>Read <a href="https://www.ncsc.gov.uk/blog-post/a-two-part-blog-about-risk-appetites" target="_blank">National Cyber Security Centre's introduction to risk management<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>.</li>
          </ul>

            <h2 id="register-your-project">Register your project</h2>

            <p>[Check our approach with Jon.]</p>
            
            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published July 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
