{% extends "layouts/guidance.njk" %}

{% set description = "Check that you have the right cyber security experience in your team and agree who will do what." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Involve the right people</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#check-your-team-has-the-skills">Check your team has the skills</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#appoint-a-senior-responsible-offier">Appoint a Senior Responsible Officer</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#agree-who-does-what">Agree who does what</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#register-your-project">Register your project</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <div class="moduk-prose">

          <p style="color:red">Draft content.</p> 

            <p>Your team is responsible for making and keeping your technology or service secure.</p>

            <h2 id="check-your-team-has-the-skills">Check your team has the skills</h2>
            
            <p>You need people in your team with cyber security experience appropriate for your project.</p>
            
            <p>For example [add an example here].</p>

            <p>You might need support from people outside your team. [How do teams go about doing this?].</p>

            <h2 id="appoint-a-senior-responsible-owner">Appoint an owner</h2>

            <p>If you do not have a Senior Responsible Owner (SRO), someone in your team needs to take on the role. For example, your product or service owner.</p>
            
            <p>Your SRO is accountable for the overall security of your technology or service. They need to have experience in risk management.</p>
            
            <p>If you do not have someone suitable, your project sponsor can be your SRO.</p>
         
            <h2 id="agree-who-does-what">Agree who does what</h2>

            <p>Decide who is responsible and accountable for Secure by Design activities.</p>
            
            <p>For example, a developer is responsible for [xxx xx xxx xxx]. Your delivery lead is accountable, they need to make sure it happens.</p>

            <p>Your SRO is accountable for the overall security of your technology or service.</p>

            <p>Check <a href="https://www.security.gov.uk/guidance/secure-by-design/activities/agreeing-roles-and-responsibilities" target="_blank">GOV.UK guidance on roles and responsibilities<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>. The guidance includes a template you can use.</p>

          <p>[Add the Next pattern here]</p>
            
            <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0"> Published July 2024</p>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
