{% extends "layouts/guidance.njk" %}

{% set title = "Secure by Design" %}
{% set description = "Intro message here about who all products and services that handle MOD data." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Secure by Design</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#what-you-need-to-do">What has changed</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#the-publishing-process">Get your team involved</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#related-guidance">Check what you need to do</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#related-guidance">Related guidance</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">All technology and services that handle Defence data must be Secure by Design. This includes projects delivered by suppliers.</p>
        <p class="govuk-body">Designing security into projects from the start helps Defence stay ahead of adversaries and maintain national security.</p>

        <h2 class="govuk-heading-l">What has changed</h2>

        <p class="govuk-body">The Central Digital and Data Office (CDDO) expects all government departments and arms-length bodies to follow a Secure by Design approach.</p>
        <p class="govuk-body">You no longer have to apply for security accreditation that lasts for a period of time. To be Secure by Design, you need to show that your team:</p>
       
        <ul class="govuk-list govuk-list--bullet">
            <li>has considered cyber security from the start</li>
            <li>has chosen appropriate security frameworks and controls</li>
            <li>is continuously managing risks</li>
        </ul>

        <p class="govuk-body">If your project has existing security accreditation, you need to move to Secure by Design when it expires. You should start preparing for it now.</p>

        <h2 class="govuk-heading-l" id="What you need to do">Get your team involved</h2>

        <p class="govuk-body">Secure by Design encourages everyone to identify and manage cyber risk. Make sure your team understands:</p> 

        <ul class="govuk-list govuk-list--bullet">
            <li>that the project is responsible for cyber security</li>
            <li>why designing security in from the start is important</li>
            <li>their role in keeping MOD data secure</li>
        </ul>

        <p class="govuk-body">A Senior Responsible Officer (SRO), Service Owner or someone with authority will be held accountable for security. They are usually supported by security and delivery leads.</p>

        <h2 class="govuk-heading-l">Check what you need to do</h2>

        <p class="govuk-body">To be Secure by Design, your team needs to show that you are doing certain activities. This includes:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>agreeing roles and responsibilities</li>
            <li>deciding how much risk you are comfortable with</li>
            <li>looking at the impact of changes</li>
            <li>running self-assessments every 3 months</li>
        </ul>

        <p class="govuk-body">To check what you need to do, <a href="">sign in to the Secure by Design portal</a>.</p>  

        <p class="govuk-body">To access the Secure by Design portal you must work in Defence or for one of our suppliers.</p>  

        <p class="govuk-body">If you do not have access, ask a senior military or MOD civil servant on your team to arrange it for you.</p>

        <h3 class="govuk-heading-m">Related guidance</h3>

        <p class="govuk-body"><a href="https://cddo.blog.gov.uk/2023/12/20/deputy-prime-minister-announces-launch-of-cross-government-secure-by-design-approach/">Launch of cross-government Secure by Design approach</a></p> 
        <p class="govuk-body"><a href="https://www.security.gov.uk/guidance/secure-by-design/">GOV.UK Secure by Design guidance</a></p>
        <p class="govuk-body"><a href="https://www.ncsc.gov.uk/collection/cyber-security-design-principles">National Cyber Security Centre secure design principles</a></p>  

        <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Published May 2024</p>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

