{% extends "layouts/base.njk" %}

{% block body %}


<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence">Secure by Design</h1></p>
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence"><span style="color:#FFFFFF;font-weight:normal">Every technology and service that handles Defence data must be Secure by Design.</span></h1>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# Know the basics #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="how-to-do-things-in-defence">Know the basics</h2>
        <p class="govuk-body govuk-body--secondary">Why Secure by Design matters and how it works across Defence. </p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-from-the-start/' | url }}">Secure from the start</a></h3>
        <p class="govuk-body-s">Design technology and services that are safe, secure and resiliant to cyber attack.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Who needs to do this</a></h3>
        <p class="govuk-body-s">Check the kind of projects this covers and who in your team is responsible.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">How assurance works</a></h3>
        <p class="govuk-body-s">Show your project is Secure by Design, including continuous self assessments.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">

  {# How to be Secure by Design #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="your-role-in-defence">How to be Secure by Design</h2>
        <p class="govuk-body govuk-body--secondary">Check what you need to do and use existing tools. </p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '' | url }}">Set your context</a></h3>
        <p class="govuk-body-s">Define how your technology or service uses Defence data and how much risk it carries.</p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Plan security activities</a></h3>
        <p class="govuk-body-s">Manage stakeholders, agree a suitable way to assess risk and select a control framework.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Manage security risks</a></h3>
        <p class="govuk-body-s">Continuously manage risk and use existing tools for regular self assessments.</p>
      </div>

      </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Set your controls</a></h3>
        <p class="govuk-body-s">Use existing tools to design and implement ways to address security risks.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Work with suppliers</a></h3>
        <p class="govuk-body-s">Identify security risks when buying products and services and address them in contracts.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Check your approach</a></h3>
        <p class="govuk-body-s">Test that your activities and controls are working and correct any vulnerabilities.</p>
      </div>

      </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Stay secure</a></h3>
        <p class="govuk-body-s">Keep asessing security risks against functional changes and external threats.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Get updates and support #}
  <div class="govuk-!-padding-top-8">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Keep in touch</h2>
        <p class="govuk-body govuk-body--secondary">Find out what's happening and learn from other teams.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Get updates</a></h3>
        <p class="govuk-body-s">Sign up for news and events on Secure by Design.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Join the community</a></h3>
        <p class="govuk-body-s">Meet and learn from other teams who are Secure by Design.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/take-part-in-user-research/' | url }}">Give feedback</a></h3>
        <p class="govuk-body-s">Tell us what you need and how we can support you.</p>
      </div>

    </div>

  </div>


</div>

{% endblock %}
