{% extends "layouts/base.njk" %}

{% block body %}


<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence">Secure by Design</h1></p>
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence"><span style= "color:#FFFFFF" font= "font-weight:normal">Key message about MOD data here.</span></h1>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# How to do things in Defence #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="how-to-do-things-in-defence">Secure by Design principles</h2>
        <p class="govuk-body govuk-body--secondary">What is Secure by Design and why it matters in defence.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Follow the principles</a></h3>
        <p class="govuk-body-s">Check the principles that UK government departments and arm's-length bodies must follow.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Design assurance</a></h3>
        <p class="govuk-body-s">How design assurance works in Defence, including continuous assurance and the impact of changes.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div>

      {# <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/tools/' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div> #}

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">



  {# Your role in Defence #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="your-role-in-defence">How to be Secure by Design</h2>
        <p class="govuk-body govuk-body--secondary">Guidance and tools to help your product or service meet the principles.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '' | url }}">Prepare</a></h3>
        <p class="govuk-body-s">Check what you need to do to create a secure product or service - from the start.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '//' | url }}">Topic</a></h3>
        <p class="govuk-body-s">Helpful blurb here.</p>
      </div>

      </div>

      {# <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/design/' | url }}">Design</a></h3>
        <p class="govuk-body-s">Start with simple designs, name services well, use the right styles and design for safety.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/technology/' | url }}">Technology</a></h3>
        <p class="govuk-body-s">Check how we build technology in Defence, reuse common approaches and tools. </p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/user-research/' | url }}">User research</a></h3>
        <p class="govuk-body-s">How to do user research with military personnel, find participants and manage user research data.</p>
      </div>

      </div> #}

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Get involved #}
  <div class="govuk-!-padding-top-8">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Get involved</h2>
        <p class="govuk-body govuk-body--secondary">Share what you are doing and learn from other teams.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/your-community/' | url }}">Join communities</a></h3>
        <p class="govuk-body-s">Meet others doing your role, use shared tools and learn from projects across Defence.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/suggest-content/' | url }}">Suggest content</a></h3>
        <p class="govuk-body-s">Add guidance and ways of working to the Defence Service Manual.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/take-part-in-user-research/' | url }}">Take part in user research</a></h3>
        <p class="govuk-body-s">Get involved with user research sessions. Anyone in Defence can take part.</p>
      </div>

    </div>

  </div>


</div>

{% endblock %}
