{% extends "layouts/base.njk" %}

{% block body %}


<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence">Secure by Design</h1></p>
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0" id="design-and-deliver-great-digital-services-in-defence"><span style="color:#FFFFFF;font-weight:normal">Every technology and service that handles Defence data needs to be Secure by Design.</span></h1>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# Know the basics #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="how-to-do-things-in-defence">Know the basics</h2>
        <p class="govuk-body govuk-body--secondary">Why Secure by Design matters and how it works across Defence. </p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/secure-from-the-start/' | url }}">Secure from the start</a></h3>
        <p class="govuk-body-s">Design technology and services that are safe, secure and resilient to cyber attack.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/who-needs-to-do-this/' | url }}">Who needs to do this</a></h3>
        <p class="govuk-body-s">Check which projects need to be Secure by Design and who is responsible.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/how-assurance-works/' | url }}">How assurance works</a></h3>
        <p class="govuk-body-s">Show your project is Secure by Design, including continuous self assessments.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">

  {# How to be Secure by Design #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="your-role-in-defence">Be Secure by Design</h2>
        <p class="govuk-body govuk-body--secondary">Check what you need to do and use existing tools. </p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/get-started/' | url }}">Get the basics right</a></h3>
        <p class="govuk-body-s">Set your security needs, agree your approach and get your team ready.</p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/manage-your-risks/' | url }}">Manage your risks</a></h3>
        <p class="govuk-body-s">Assess, test and show how you are managing security risks.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/stay-secure/' | url }}">Stay secure</a></h3>
        <p class="govuk-body-s">Continuously manage security risks, review your approach and stay secure.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Get updates and support #}
  <div class="govuk-!-padding-top-8">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Keep in touch</h2>
        <p class="govuk-body govuk-body--secondary">Find out what's happening and tell us what you need.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/secure-by-design-full/' | url }}">Get updates</a></h3>
        <p class="govuk-body-s">Sign up for news and events on Secure by Design.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/ask-a-question/' | url }}">Ask a question</a></h3>
        <p class="govuk-body-s">Check how to get answers to project specific questions.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="{{ '/secure-by-design/secure-by-design-full/' | url }}">Give feedback</a></h3>
        <p class="govuk-body-s">Tell us what you think and if any guidance is missing.</p>
      </div>

    </div>

  </div>


</div>

{% endblock %}
