{% extends "layouts/guidance.njk" %}

{% set title = "Secure by Design" %}
{% set description = "Intro message here about who all products and services that handle MOD data." %}

{% block body %}

  <div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ '/' | url }}">Home</a>
        </li>
      </ol>

    </div>

  </div>

  <div class="govuk-width-container">

    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Secure by Design</h1>
        </div>
      </div>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third position-sticky">

          {# Contents side navigation #}
          <nav class="moduk-contents-list" role="navigation" aria-labelledby="moduk-contents-list">
            
            <h2 class="moduk-contents-list__title" id="moduk-contents-list">Contents</h2>
            
            <ol class="moduk-contents-list__list">
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#what-you-need-to-do">What you need to do</a>
              </li>
              
              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#the-publishing-process">Secure by design principles</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#related-guidance">Find out more</a>
              </li>

              <li class="moduk-contents-list__list-item moduk-contents-list__list-item--dashed">
                <a class="moduk-contents-list__link govuk-link govuk-link--no-visited-state" href="#related-guidance">Related guidance</a>
              </li>
              
            </ol>
            
          </nav>

        </div>

        <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">All products and services that handle Defence data must follow the Secure by Design approach.</p>


        <h2 class="govuk-heading-l">What you need to do</h2>

        <p class="govuk-body">Explain the change.</p>
        <p class="govuk-body">Your team is responsible for designing security in from the start.</p>
        <p class="govuk-body">Why it is important to teams and Defence.</p>
        <p class="govuk-body"><a href=""></a></p>      

        <h2 class="govuk-heading-l" id="What you need to do">Secure by Design principles</h2>

          {% set htmlAccordion1 %}
          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p>

          {% endset %}

          {% set htmlAccordion2 %}

          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p> 

          {% endset %}

          {% set htmlAccordion3 %}
          
          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p>

          {% endset %}

          {% set htmlAccordion4 %}

          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p> 

          {% endset %}

          {% set htmlAccordion5 %}
          
          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p>

          {% endset %}

          {% set htmlAccordion6 %}
          
          <p class="govuk-body">Description</p>
          <p class="govuk-body">An example</p>
          <p class="govuk-body">Link to<a href="">more guidance (in the portal)</a></p>

          {% endset %}

          {% set htmlAccordion7 %}
          <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion8 %}
          <p class="govuk-body"></p> 

          {% endset %}

          {% set htmlAccordion9 %}
          <p class="govuk-body"></p>

          {% endset %}
        

          {{ component('accordion', {
            classes: 'govuk-!-margin-bottom-0',
            id: 'accordion-standards',
            items: [
              {
                heading: {
                  text: '1. Understand and define your context'
                },
                content: {
                  html: htmlAccordion1 
                }
              },
              {
                heading: {
                  text: '2. Plan your security activities'
                },
                content: {
                  html: htmlAccordion2
                }
              },
              {
                heading: {
                  text: '3. Do continuous risk management'
                },
                content: {
                  html: htmlAccordion3
                }
              },
              {
                heading: {
                  text: '4. Define your security controls'
                },
                content: {
                  html: htmlAccordion4
                }
              },
              {
                heading: {
                  text: '5. Manage your supply chain'
                },
                content: {
                  html: htmlAccordion5
                }
              },
              {
                heading: {
                  text: '6. Assure, verify and test'
                },
                content: {
                  html: htmlAccordion6
                }
              },
              {
                heading: {
                  text: '7. [Enable] through life management'
                },
                content: {
                  html: htmlAccordion7
                }
              }
            ]
          }) }}

        <br><br>

        <h2 class="govuk-heading-l">Find out more</h2>

        <p class="govuk-body">Explain what teams need to do next.</p>
        <p class="govuk-body">Link to the portal for step-by-step guidance and example templates.<a href=""></a></p>  

        <h3 class="govuk-heading-m">Related guidance</h3>

        <p class="govuk-body"><a href="">Links</a></p> 
        <p class="govuk-body"><a href="">Links</a></p>  

        <p class="govuk-body govuk-body--secondary govuk-!-font-size-14 govuk-!-margin-top-8 govuk-!-margin-bottom-0">Published May 2024</p>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

