{% extends "guidance.njk" %}

{% set pageTitle       = "Designing something new" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <h2 id="naming-things-in-defence">Naming things in Defence</h2>

  <p>Content TBC.</p>

  <h2 id="naming-things-in-defence">Check existing patterns</h2>

  <p>Content TBC.</p>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#naming-things-in-defence",
        text: "Naming things in Defence"
      },
      {
        href: "#check-existing-patterns",
        text: "Check existing patterns"
      }
    ]
  }) }}

{% endblock %}