{% extends "guidance.njk" %}

{% set pageTitle       = "How to classify information" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Security" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

In the UK and internationally, security classifications are used to protect different kinds of information.

Be aware of the security classification of all information you deal with. This includes when you:

- speak in meetings
- add comments to online tools, like Conceptboard
- write and share messages in MS Teams and Slack

## Security classifications in Defence

In Defence, like all other UK Government departments, we use 3 levels of security classification.

{{ govukInsetText({
  text: "When you create new information or capture new data, check how to classify it."
}) }}

### OFFICIAL

The majority of information created or used in Defence is at OFFICIAL level. The consequences of this information being shared are similar to those faced by a large private company with valuable information.

OFFICIAL information includes:

- the day-to-day business of government and service delivery
- many aspects of Defence, security and resilience
- routine international relations and diplomatic activities
- public safety, criminal justice and enforcement activities

### SECRET

Some information in Defence is considered very sensitive and must be protected from any highly capable people or organisations that are determined to cause harm.

This includes information where tampering, loss or access by unauthorised people could:

- directly threaten an individual’s life
- cause serious damage to UK or allied military capability
- impact the investigation or prosecution of serious organised crime

You will usually know that you are working on information or systems classified as SECRET.

### TOP SECRET

A small amount of information in Defence must be protected from the most serious threats.

This includes information where tampering, loss or access by unauthorised people could:

- lead to widespread loss of life
- threaten the security or economic stability of the UK or friendly nations
- cause exceptional damage to UK or allied military capability

It will be clear that you are working on information or systems that are TOP SECRET.

## How to label information

You need to label information correctly so that people understand how to protect and share it.

You must write security classification labels in all capitals, for example SECRET.

When you send emails on a MODnet device, you will be asked to select the security classification.

### Do not over classify information

It can be tempting to put OFFICIAL information into a higher classification. This goes against the government principle of open data and can lead to unnecessary and expensive controls.

If you classify information higher than is needed, your users may struggle to access it. For example, services classified as SECRET do not let users access the internet.

Managing SECRET information is at least 10 times more expensive than OFFICIAL information.

### Labelling OFFICIAL information

You do not need to label OFFICIAL information. However, if the information can be printed you should label it at the top and bottom of each page.

A small amount of OFFICIAL information is sensitive and should only be shared with people who need to know it. In these cases, you can label data as OFFICIAL-SENSITIVE.

{{ govukInsetText({
  text: "You must only use OFFICIAL-SENSITIVE as an exception and have evidence to support your decision."
}) }}

### Use OFFICIAL-SENSITIVE correctly

OFFICIAL-SENSITIVE is not a separate security classification. It is a way of identifying sensitive information that can be stored on OFFICIAL systems.

Using OFFICIAL-SENSITIVE as a security classification can lead to dangerous practices including:

- all data being treated as equally sensitive
- systems designed to protect all types of sensitive data when they only handle some sensitive data or none at all

#### Add a descriptor to OFFICIAL-SENSITIVE

If you need to use OFFICIAL-SENSITIVE, add a label providing more information: OFFICIAL-SENSITIVE [descriptor].

Use the core descriptors recommended by The Cabinet Office:

- COMMERCIAL for market-sensitive information like price negotiations and system vulnerabilities
- LOCSEN for sensitive information that staff engaged overseas cannot access
- PERSONAL for sensitive information that can be linked to an individual

### Labelling SECRET and TOP SECRET information

{{ govukInsetText({
  text: "You must label SECRET and TOP SECRET information."
}) }}

You should include the label in the subject line of emails. If the information can be printed out, add the label to the top and bottom of each page.

If you are sharing SECRET or TOP-SECRET information internationally, you need to add additional details to the label. Check the [guidance on labelling information shared internationally](#0).

## Classifying large amounts of data

Some products and services in Defence create or process large amounts of data. These projects usually have a data owner. To classify data correctly, the data owner needs to fully understand how sensitive it is and the likely threats.

### Related content

- [Government security classifications](#0)
- [OFFICIAL-SENSITIVE data and IT](#0)

{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#security-classifications-in-defence",
        text: "Security classifications in Defence"
      },
      {
        href: "#how-to-label-information",
        text: "How to label information"
      },
      {
        href: "#classifying-large-amounts-of-data",
        text: "Classifying large amounts of data"
      }
    ]
  }) }}

{% endblock %}