{% extends "guidance.njk" %}

{% set pageTitle       = "How to classify information" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Security" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#security-classifications-in-defence",
        text: "Security classifications in Defence"
      },
      {
        href: "#how-to-label-information",
        text: "How to label information"
      },
      {
        href: "#classifying-large-amounts-of-data",
        text: "Classifying large amounts of data"
      }
    ]
  }) }}

{% endblock %}