{% set pageTitle       = "Publishing documents" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/publishing-documents/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#accessibility-statements",
        text: "Accessibility statements"
      },
      {
        href: "#publish-accessible-documents",
        text: "Publish accessible documents"
      }
    ]
  }) }}

{% endblock %}