{% set pageTitle = "Version history" %}

{% extends "includes/landing.njk" %}

{% block bodyContent %}

<h1>Version history</h1>

<h2 class="govuk-heading-m">Version 4</h2>

<p class="govuk-body">This is what we’re working on for the next rounds of testing.</p>

{% set htmlOutput %}
  <ul class="govuk-list govuk-list--bullet">
    <li>Do and don’t list component added</li>
    <li>Feedback form simplified</li>
    <li>Added steps component</li>
  </ul>

{% endset %}

{{ govukDetails({
  summaryText: "What’s changed",
  html: htmlOutput,
  open: true
}) }}

<h2 class="govuk-heading-m">Version 3</h2>

<p class="govuk-body">This is the most recent prototype tested with users.</p>

{% set htmlOutput %}
  <ul class="govuk-list govuk-list--bullet">
    <li>Ministry of Defence logo</li>
    <li>Layout and visual fixes</li>
    <li>Phase banner updates</li>
    <li>Feedback to improve the Defence Service Manual</li>
    <li>Standards in Defence</li>
    <li>Get in touch</li>
    <li>Add or update content</li>
    <li>Security added</li>
    <li>Site map added</li>
    <li>Design, User research, Accessibility content updated</li>
    <li>Improvements in navigation structure</li>
    <li>Page contents added (sticky)</li>
  </ul>

{% endset %}

{{ govukDetails({
  summaryText: "What’s changed",
  html: htmlOutput,
  open: true
}) }}

<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="https://dmdsm.herokuapp.com/dsm-home" target="_blank" rel="nofollow external">Version 2</a></h2>

<p class="govuk-body">This is an old version of the prototype that was tested with users.</p>

{% endblock %}