{% set pageTitle       = "Start with simple designs" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "design/start-with-simple-designs/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#check-existing-patterns",
        text: "Check existing patterns"
      },
      {
        href: "#use-correct-styles",
        text: "Use correct styles"
      }
    ]
  }) }}

{% endblock %}