{% extends "guidance.njk" %}

{% set pageTitle       = "Delivery managers" %}
{% set pageDescription = "" %}
{% set sectionId       = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Some content.</p>

</div>

{% endblock %}