---
layout: "layouts/landing.njk"
title: "Components"
---

<section class="moduk-attachment govuk-!-display-none-print">

<div class="moduk-attachment__thumbnail">

  <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#0"><svg class="moduk-attachment__thumbnail-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111 153" aria-hidden="true"><path d="M18,17h75v28H18V17z M18,64h9v8h-9V64z M36,64h57v8H36V64z M27,102h-9v8h9V102z M36,102h57v8H36V102z M27,121h-9v8h9V121z M36,121h48v8H36V121z M27,83h-9v8h9V83z M75,83H36v8h39V83z" fill="#B1B4B6" />
  </svg></a>

</div>
    
<div class="moduk-attachment__details">
    
  <h2 class="moduk-attachment__title">
    <a class="govuk-link moduk-attachment__link" target="_self" href="#0">Apply for a medal alpha report</a>
  </h2>

  <p class="moduk-attachment__metadata moduk-attachment__metadata--compact">
    <span class="moduk-attachment__attribute">Result: <span class="govuk-!-font-weight-bold">met</span></span>
  </p>

  <p class="moduk-attachment__metadata">
    <span class="moduk-attachment__attribute"><abbr class="moduk-attachment__abbr" title="Portable Document Format">PDF</abbr></span>, 
    <span class="moduk-attachment__attribute">19.5 KB</span>, 
    <span class="moduk-attachment__attribute">7 pages</span>
  </p>

  <p class="moduk-attachment__metadata">
    <span class="moduk-attachment__attribute govuk-!-font-size-16">This file may not be suitable for users of assistive technology.</span>
  </p>

</div>

</section>
