{% set pageTitle       = "Meet accessibility regulations" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#understand-the-environment",
        text: "Understand the environment"
      },
      {
        href: "#meet-the-regulations",
        text: "Meet the regulations"
      },
      {
        href: "#your-role-in-accessibility",
        text: "Your role in accessibility"
      },
      {
        href: "#create-an-accessibility-statement",
        text: "Create an accessibility statement"
      },
      {
        href: "#publish-accessibility-documents",
        text: "Publish accessible documents"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}