{% set pageTitle       = "Meet accessibility regulations" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#accessibility-by-design",
        text: "Accessibility by design"
      },
      {
        href: "#check-the-regulations",
        text: "Check the regulations"
      },
      {
        href: "#your-role-in-accessibility",
        text: "Your role in accessibility"
      },
      {
        href: "#related-content",
        text: "Related content"
      }
    ]
  }) }}

{% endblock %}