{% extends "guidance.njk" %}

{% set pageTitle       = "Interaction Designers" %}
{% set pageDescription = "Designing simple screens and interactions makes things easier for everybody. To deliver digital products and services that anyone can use, we need to design them that way." %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#start-with-existing-patterns",
        text: "Start with existing patterns"
      },
      {
        href: "#avoid-dynamic-content",
        text: "Avoid dynamic content"
      },
      {
        href: "#use-simple-labels-and-instructions",
        text: "Use simple labels and instructions"
      },
      {
        href: "#add-visually-hidden-text",
        text: "Add visually hidden text"
      },
      {
        href: "#only-use-images-that-users-need",
        text: "Only use images that users need"
      },
      {
        href: "#be-careful-with-columns",
        text: "Be careful with columns"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}