{% set pageTitle       = "Interaction Designers" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/meet-accessibility-regulations/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/interaction-designers/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#start-with-existing-patterns",
        text: "Start with existing patterns"
      },
      {
        href: "#avoid-dynamic-content",
        text: "Avoid dynamic content"
      },
      {
        href: "#use-simple-labels-and-instructions",
        text: "Use simple labels and instructions"
      },
      {
        href: "#add-visually-hidden-text",
        text: "Add visually hidden text"
      },
      {
        href: "#only-use-images-that-users-need",
        text: "Only use images that users need"
      },
      {
        href: "#be-careful-with-columns",
        text: "Be careful with columns"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}