/* -------------------------------- 

Title: Header

-------------------------------- */

.mod-header__container {
  border-bottom-color: $govuk-brand-colour;
}

.mod-header__logo {
  @include govuk-responsive-margin(2, "bottom");
  padding-right: govuk-spacing(8);

  @include govuk-media-query ($from: desktop) {
    float: left;
    padding-right: $govuk-gutter-half;
    vertical-align: top;
    width: 33.33%;
  }

}

.mod-header__logo-link {
  display: inline-block; 
  vertical-align: top;

  &:focus {
    box-shadow: none;
  }

}

.mod-header__logo-svg {
  display: inline-block;
  vertical-align: top;
}

.mod-header__service-name {

  @include govuk-media-query ($from: desktop) {
    margin-top: 7px;
    margin-bottom: 3px;
  }

}