/* -------------------------------- 

Title: Overrides

-------------------------------- */

// Hide border top on first row of cards
.gem-c-cards--no-top-border {
  overflow: hidden;

  .gem-c-cards__list-item {
    margin-top: -1px;
  }

}


// Hide crest in copyright
.govuk-footer__copyright-logo {
  background: none;
  min-width: auto;
  padding-top: 0;
  text-align: right;
}

.govuk-footer__meta {
  justify-content: flex-start;
}


// Change colour of phase banner tag
.govuk-tag--mod {
  background-color: $govuk-brand-colour;
}


// Related navigation
.gem-c-related-navigation {
  border-top: 1px solid $govuk-brand-colour;
}