<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Defence Service Manual",
        href: "/"
      },
      {
        text: "Accessibility",
        href: "/accessibility"
      },
      {
        text: "Your role in accessibility",
        href: "/accessibility/your-role-in-accessibility"
      }
    ]
  }) }}
</div>