{% extends "guidance.njk" %}

{% set pageTitle       = "Your role in accessibility" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Every role in digital design and delivery plays a part in accessibility.</p>

  <p>For example, for developers to build an accessible service the content needs to be designed to work with assistive technology.</p>

  <p>Check how you can help with accessibility:</p>

  <ul>
    <li><a href="/accessibility/your-role-in-accessibility/content-designers">Content Designers</a></li>
    <li><a href="/accessibility/your-role-in-accessibility/delivery-managers">Delivery Managers</a></li>
    <li><a href="/accessibility/your-role-in-accessibility/interaction-designers">Interaction Designers</a></li>
    <li><a href="/accessibility/your-role-in-accessibility/product-managers">Product Managers</a></li>
    <li><a href="/accessibility/your-role-in-accessibility/user-researchers">User Researchers</a></li>
  </ul>

</div>

{% endblock %}