{% extends "guidance.njk" %}

{% set pageTitle       = "Product Managers" %}
{% set pageDescription = "Everyone in your team has a part to play in delivering accessible products and services. Make sure they know why your product or service needs to be accessible." %}
{% set sectionId       = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Everyone in your team has a part to play in delivering accessible products and services. Make sure they know why your product or service needs to be accessible.</p>

  <h2 id="help-your-team-understand">Help your team understand</h2>

  <p>Your digital product or service must be easy to use for everyone. Your team may be breaking the law if they do not make it accessible.</p>

  <p>Making a service accessible is not a last-minute task for Frontend Developers and QA Testers. User Researchers need to include users of assistive technology in their research. Interaction Designers and Content Designers need to create accessible designs and content.</p>

  <p>Ask your team to consider the needs of all users and to <a href="/accessibility/your-role-in-accessibility">check how their role can help accessibility</a>.</p>

  <h2 id="get-stakeholders-onboard">Get stakeholders onboard</h2>

  <p>Often, the cost of making a product or service accessible is not factored in from the start. It takes time for your team to design, develop and test for accessibility.</p>

  <p>Consider adding accessibility to your business case so that stakeholders are aware of the time and funding needed. In your regular sessions with stakeholders, you can cover accessibility issues and how you are dealing with them.</p>

  <p>You might decide to get an external audit before your product or service can be released. Check<a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit" rel="external nofollow">how to get an accessibility audit</a>.</p>

  <h2 id="prioritise-accessibility">Prioritise accessibility</h2>

  <p>Aim to prioritise accessibility from the start, so it becomes part of your team culture and processes. This will help you to deliver at pace and meet the legal requirements on accessibility.</p>

  {{ govukInsetText({
    text: "If you do not plan for accessibility, it can create technical debt that significantly delays future releases."
  }) }}

  <p>Check guidance on <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-about-accessibility-in-discovery" rel="external nofollow">prioritising accessibility in each delivery phase</a>.</p>

  <h2 id="useful-links">Useful links</h2>

  <ul>
    <li><a href="/accessibility/your-role-in-accessibility/delivery-managers">Delivery managers</a></li>
  </ul>

</div>

{% endblock %}

{# Contents list #}
{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#help-your-team-understand",
        text: "Help your team understand"
      },
      {
        href: "#get-stakeholders-onboard",
        text: "Get stakeholders onboard"
      },
      {
        href: "#prioritise-accessibility",
        text: "Prioritise accessibility"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}