{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "contents-list/macro.njk" import govukContentsList %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if pageTitle %}{{ pageTitle }} - Defence Service Manual{% else %}Defence Service Manual{% endif %}</title>

    {# Search Engine #}
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}Helping you meet service standards and do your role in Defence{% endif %}">

    {# Theme colour #}
    <meta name="theme-color" content="#4D2942">

    {# Windows tiles #}
    <meta name="msapplication-TileColor" content="#4D2942">
    <meta name="msapplication-TileImage" content="/images/tile-310x150.png">
    <meta name="msapplication-square70x70logo" content="/images/tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/images/tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/images/tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/images/tile-310x310.png">

    {# iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Defence Service Manual">

    {# Apple touch icon #}
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    {# Mask icon #}
    <link rel="mask-icon" href="/images/mask-icon.svg" color="#000000">

    {# Fav icon #}
    <link rel="icon" href="/images/favicon.png">

    {# Opengraph #}
    <meta property="og:image" content="/images/opengraph.png">

    {# Stylesheet #}
    <link rel="stylesheet" href="/styles/main.css">

  </head>

  <body>

    {# Progressive enhancement #}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include "_mod-header.njk" ignore missing %}

    {% if phaseBanner != false %}
    {% include "_phase-banner.njk" ignore missing %}
    {% endif %}

    {# Breadcrumb #}
    {% if breadcrumb != false %}
    {% block breadcrumb %}{% endblock %}
    {% endif %}

    {# Outer body #}
    {% block outerBody %}{% endblock %}

    {% if pageLayout != "Homepage" %}
      <main class="content" id="content">
        {% block body %}{% endblock %}
      </main>
    {% endif %}


    {% if feedback != false %}
    {% include "_feedback.njk" ignore missing %}
    {% endif %}

    {% include "_footer.njk" ignore missing %}

    {% block pageScripts %}{% endblock %}

    <script src="/scripts/scripts.js"></script>

  </body>
</html>