{% extends "base.njk" %}

{%- if breadcrumb !== false %}
  {% block breadcrumb %}
    {% include "_breadcrumb.njk" %}
  {% endblock %}
{% endif -%}

{% block body %}

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ sectionTitle }}</span>
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third govuk-sticky-element">
        {% block contentsList %}{% endblock %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        {% block bodyContent %}{% endblock %}
        {% include "_contact-team.njk" %}
      </div>

    </div>

  </div>

</div>

{% endblock %}