{% extends "base.njk" %}

{%- if breadcrumb !== false %}
  {% block breadcrumb %}
    {% include "_breadcrumb.njk" %}
  {% endblock %}
{% endif -%}

{% block body %}

<div class="govuk-width-container">

  <div class="govuk-main-wrapper">

    {# Page title and lead paragraph #}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        {% if pageLead %}<p class="govuk-body-l">{{ pageLead }}</p>{% endif %}
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        {% block bodyContent %}{% endblock %}
      </div>

      <div class="govuk-grid-column-one-third">
        {% block relatedContent %}{% endblock %}
      </div>

    </div>

  </div>

</div>

{% endblock %}