{% set pageTitle = "Page not found" %}
{% set breadcrumb = false %}

{% extends "layouts/landing.njk" %}

{% block bodyContent %}

<div class="mod-prose">

  <p>If you entered a web address, check it is correct.</p>

  <p>You can <a href="/home">browse from the homepage</a>.</p>
  
  <pre class="govuk-!-margin-top-8">Status code: 404</pre>

</div>

{% endblock %}