{% extends "landing.njk" %}

{% set pageTitle  = "Page not found" %}
{% set breadcrumb = false %}

{% block bodyContent %}

<div class="mod-prose">

  <p>If you entered a web address, check it is correct.</p>

  <p>You can <a href="/home">browse from the homepage</a>.</p>

</div>

{% endblock %}