{% set pageTitle       = "Content Designers" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "accessibility/meet-accessibility-regulations/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "accessibility/meet-accessibility-regulations/content-designers/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#write-in-plain-english",
        text: "Write in plain English"
      },
      {
        href: "#use-clear-and-unique-page-titles",
        text: "Use clear and unique page titles"
      },
      {
        href: "#use-the-right-headings",
        text: "Use the right headings"
      },
      {
        href: "#add-visually-hidden-text",
        text: "Add visually hidden text"
      },
      {
        href: "#captions-and-transcripts",
        text: "Captions and transcripts"
      },
      {
        href: "#make-links-work-out-of-context",
        text: "Make links work out of context"
      },
      {
        href: "#be-consistent",
        text: "Be consistent"
      },
      {
        href: "#write-good-error-messages",
        text: "Write good error messages"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}