{% extends "includes/landing.njk" %}

{% set pageTitle       = "Standards in Defence" %}
{% set pageDescription = "Check the standards you should follow and why they are important for all digital services and products." %}

{% block bodyContent %}
  {% markdown %}{% include "standards-in-defence/README.md" %}{% endmarkdown %}
{% endblock %}