{% extends "landing.njk" %}

{% set pageTitle       = "Security" %}
{% set pageDescription = "" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}security/how-to-classify-information">How to classify information</a></h2>
  <ul>
    <li>Security classifications in Defence</li>
    <li>How to label information</li>
    <li>Classifying large amounts of data</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Keep and manage information securely</h2>
  <ul>
    <li>Store and share OFFICIAL information</li>
    <li>Manage SECRET and TOP SECRET information</li>
    <li>Using social media</li>
  </ul>

</div>

{% endblock %}
