{% set pageTitle       = "Security" %}
{% set pageDescription = "" %}

{% extends "includes/landing.njk" %}

{% block bodyContent %}

<h1>Security</h1>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}security/security-classifications">Security classifications</a></h2>

<ul>
  <li>Classifications used in Defence</li>
  <li>Understand OFFICIAL, SECRET and TOP SECRET</li>
  <li>Classifying large amounts of data</li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}security/how-to-label-information">How to label information</a></h2>

<ul>
  <li>How to label OFFICIAL information</li>
  <li>Use OFFICIAL-SENSITIVE correctly</li>
  <li>How to label SECRET and TOP SECRET information</li>
</ul>

{% endblock %}
