{% extends "landing.njk" %}

{% set pageTitle       = "Security" %}
{% set pageDescription = "" %}

{% block bodyContent %}

<div class="mod-prose">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{ baseURL }}security/store-and-share-information-securely">Store and share information securely</a></h2>
  <ul>
    <li>How to classify information</li>
    <li>Using social media in Defence</li>
  </ul>

</div>

{% endblock %}