{% extends "guidance.njk" %}

{% set pageTitle       = "Naming things in Defence" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

User-centred design specialists in your team should be heavily involved in naming a service or product. It should then be approved by either the service or product owner.

## How to name a service or product

Good service or product names:

- use the words users use
- are based on analytics and user research
- describe a task, not a technology
- do not need to change when policy or technology changes
- are verbs, not nouns

{{ govukInsetText({
  text: "If your service or product is hosted on GOV.UK you must adhere to their naming standards."
}) }}

[Read GOV.UK guidance on naming your service](https://www.gov.uk/service-manual/design/naming-your-service)

### Transactional services or products

Your service is transactional if it allows users to either:

- exchange information, money, permission, goods or services
- submit information that results in a change to a record

#### Good transactional service names in Defence

You can use these service names as good examples:

- Estimate your armed forces pension
- Get a copy of military service records
- Apply for a medal or veterans badge

#### Services with multiple transactions

Your product or service may allow multiple actions. This can make it harder to use a verb based name. Consider verbs that can describe multiple actions.

### Non-transactional services or products

These are services where users only read information.

If you are producing detailed guidance around a particular subject, you may want to call your service “Get help with [something]”.

You may also want to use similar names to other government services or products. The ‘Defence Service Manual’, for example, uses terms familiar in government (such as the ‘GOV.UK Service Manual’).

### Avoid acronyms

Acronyms are common in Defence. However, they are confusing for newcomers or people from outside Defence.

You can include acronyms where they are commonly understood and explaining them causes additional confusion. For example: ‘NATO’ is not explained on GOV.UK as it is commonly recognised.

{% endblock %}