{% set pageTitle       = "Naming things in Defence" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Design" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "design/naming-things-in-defence/README.md" %}{% endmarkdown %}
{% endblock %}