{% extends "guidance.njk" %}

{% set pageTitle       = "Collecting data from participants" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "./_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#meet-the-regulations",
        text: "Meet the regulations"
      },
      {
        href: "#get-informed-consent",
        text: "Get informed consent"
      },
      {
        href: "#only-collect-data-that-you-need",
        text: "Only collect data that you need"
      },
      {
        href: "#protect-sensitive-data",
        text: "Protect sensitive data"
      },
      {
        href: "#useful-links",
        text: "Useful links"
      }
    ]
  }) }}

{% endblock %}