{% extends "guidance.njk" %}

{% set pageTitle       = "Save and store user research data" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "./README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#keep-your-promises-to-participants",
        text: "Keep your promises to participants"
      },
      {
        href: "#how-to-save-user-research-data-in-defence",
        text: "How to save user research data in Defence"
      },
      {
        href: "#anonymise-user-research-data",
        text: "Anonymise user research data"
      }
    ]
  }) }}

{% endblock %}