{% set pageTitle       = "Take part in user research" %}
{% set pageDescription = "" %}

{% extends "includes/landing.njk" %}

{% block bodyContent %}
  {% markdown %}{% include "take-part-in-user-research/README.md" %}{% endmarkdown %}
{% endblock %}