{% extends "guidance.njk" %}

{% set pageTitle       = "Understand the environment" %}
{% set pageDescription = "People working in Defence have unique needs." %}
{% set sectionId       = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>People working in Defence have unique needs.</p>

  <p>Consider people in the deployed space, for example military units working away from their permanent base. There are also many people in the operational space, supporting military operations and exercises.</p>

  <p>These users may have issues such as:</p>

  <ul>
    <li>low to no 3G and 4G onboard ships</li>
    <li>not being able to use 2-factor authentication</li>
    <li>wearing restrictive kit, such as thick gloves</li>
    <li>devices with limited battery power</li>
  </ul>

  <p>You also need to consider accessibility issues related to the battle environment, including:<p>

  <ul>
    <li>low light, red light or no light</li>
    <li>very noisy environments or the need for silence</li>
    <li>difficult outdoor conditions, such as wet screens</li>
    <li>high-stress and high-risk scenarios</li>
    <li>temperatures below freezing or extreme heat and sunlight</li>
    <li>extreme fatigue</li>
  </ul>

  <p>Accessibility needs can be permanent, temporary or situational. This is particularly relevant in military settings.</p>

</div>

{% endblock %}