{% extends "guidance.njk" %}

{% set pageTitle       = "Meet the regulations" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Accessibility" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>To meet UK government accessibility regulations, digital products and services must:<p>

  <ul>
    <li>meet level AA of the <a href="https://www.w3.org/TR/WCAG21/" rel="external nofollow">Web Content Accessibility Guidelines (WCAG 2.1)</a> as a minimum</li>
    <li>work on the most commonly used assistive technologies, including screen magnifiers, screen readers and speech recognition tools</li>
    <li>include people with disabilities in user research</li>
    <li>have an accessibility statement that explains how accessible the service is</li>
  </ul>

  {{ govukInsetText({
    text: "Anyone creating digital products or services for Defence, including third-party suppliers, must make sure they meet accessibility regulations."
  }) }}

  <p>Check the guidance on <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" rel="external nofollow">understanding accessibility requirements for public sector bodies</a>.</p>

</div>

{% endblock %}