{% set pageTitle       = "How to label information" %}
{% set pageDescription = "" %}
{% set sectionTitle    = "Security" %}
{% set dateUpdated     = "October 2022" %}

{% extends "includes/guidance.njk" %}

{% block breadcrumb %}
{% include "security/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  {% markdown %}{% include "security/how-to-label-information/README.md" %}{% endmarkdown %}
{% endblock %}

{% block contentsList %}

  {{ govukContentsList({
    items: [
      {
        href: "#how-to-label-official-information",
        text: "How to label OFFICIAL information"
      },
      {
        href: "#use-official-sensitive-correctly",
        text: "Use OFFICIAL-SENSITIVE correctly"
      },
      {
        href: "#how-to-label-secret-and-top-secret-information ",
        text: "How to label SECRET and TOP SECRET information"
      }
    ]
  }) }}

{% endblock %}