{% set pageTitle  = "Defence Service Manual" %}
{% set breadcrumb = false %}

{% extends "includes/landing.njk" %}

{% block bodyContent %}

  <h1>We’ve moved</h1>

  <p>You can visit the <a href="https://defencedigital.github.io/moduk-service-manual">Defence Service Manual</a> in our new home.</p>

{% endblock %}