{% extends "guidance.njk" %}

{% set pageTitle       = "Understanding defence users" %}
{% set pageDescription = "Our service personnel users are very diverse, from recent school-leavers to experienced and highly qualified specialists." %}
{% set sectionId       = "User research" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{# Main contents #}
{% block bodyContent %}

<div class="mod-prose">

  <p>Our service personnel users are very diverse, from recent school-leavers to experienced and highly qualified specialists.</p>

  <p>Service personnel are located around the UK and overseas. They have very different access to IT and most do not spend all day working at a desk or in front of a computer.</p>

  <p>In Defence, the 3 Front Line Commands (FLCs) are:</p>

  <ul>
    <li>Royal Navy</li>
    <li>British Army</li>
    <li>Royal Air Force</li>
  </ul>

  <p>There are other Top Level Budgets (TLBs), including Defence &amp; Equipment Support (DE&amp;S), and Defence Science and Technology Laboratory (Dstl).</p>

  <p>Find out more about <a href="/accessibility">Defence environments and accessibility</a>.</p>

</div>

{% endblock %}